%section.contexto
  %label.contexto=@navegabilidad
  %hr.contexto{:size => "1"}
  = form_for [@empresa, @datos_contacto], :html => {:id => "formulario_datos_contacto"} do |f|
    - if @datos_contacto.errors.any?
      #error_explanation
        %h2= "#{pluralize(@datos_contacto.errors.count, "error")} prohibited this datos_contacto from being saved:"
        %ul
          - @datos_contacto.errors.full_messages.each do |msg|
            %li= msg

    %table
      %tr
        %td
          Prefijo
        %td
          = f.text_field :prefijo, :readonly => :true, :class => "campo_readonly"
      %tr
        %td    
          Tipo Contacto
        %td          
          = f.select(:tipo, options_for_select(['email', 'fax', 'opcional', 'telefono', 'secundario'], @datos_contacto.tipo))
      %tr
        %td
          Detalle
        %td
          = f.text_field :contacto
      
    .actions

      %button#submit.ui-state-default.ui-corner-all.guardar_contacto{:type => "submit", :title => "Guardar cambios del contacto"}
        %span.ui-icon.ui-icon-disk
        Guardar
      

      %a.ui-state-default.ui-corner-all.nuevo_contacto{:href => "javascript:window.history.back()", :title => "Regresar a los datos de la empresa"}
        %span.ui-icon.ui-icon-arrowreturnthick-1-w
        Regresar
