%section.contexto
  %label.contexto 
    -if @datos_contacto.new_record?
    -else
      Empresa - Editar Dato de Contacto
  %hr.contexto{:size => "1"}
  = form_for [@empresa, @datos_contacto], :html => {:id => "formulario_datos_contacto"} do |f|
    - if @datos_contacto.errors.any?
      #error_explanation
        %h2= "#{pluralize(@datos_contacto.errors.count, "error")} prohibited this datos_contacto from being saved:"
        %ul
          - @datos_contacto.errors.full_messages.each do |msg|
            %li= msg

    %table
      %tr
        %td
          Prefijo
        %td
          = f.text_field :prefijo
      %tr
        %td    
          Tipo Contacto
        %td          
          = f.select(:tipo, options_for_select(['email', 'fax', 'opcional', 'principal', 'secundario'], @datos_contacto.tipo))
      %tr
        %td
          Contacto
        %td
          = f.text_field :contacto
      %tr
        %td
          Nombre Contacto    
        %td
          = f.text_field :nombre_contacto
      %tr
        %td
          Cargo Contacto
        %td
          = f.text_field :cargo_contacto
    .actions
      = f.submit 'Guardar'
