%section.contexto
  %label.contexto=@navegabilidad 
  %hr.contexto{:size => "1"}
%section#areaTrabajo.areaTrabajo
  %table#data_table_empresas_datos_contacto.display
    %thead
      %tr
        
        %th Tipo Contacto
        %th Contacto
       
        %th Editar contacto
        %th Eliminar contacto
    %tbody
      - @datos_contactos.each do |datos_contacto|
        %tr
        
          %td= datos_contacto.tipo
          %td= datos_contacto.contacto
         
          %td= link_to(( content_tag(:span, '',:class => 'ui-icon ui-icon-extlink')+'Editar').html_safe,  "/empresas/#{params[:empresa_id]}/datos_contactos/#{datos_contacto.id})/edit",{:class => "ui-state-default ui-corner-all botones_servicio", :title => "Editar contacto #{datos_contacto.nombre_contacto}"})
          %td= link_to(( content_tag(:span, '',:class => 'ui-icon ui-icon-extlink')+'Eliminar').html_safe, "/empresas/#{params[:empresa_id]}/datos_contactos/#{datos_contacto.id}", {:method => :delete, :data => { :confirm => 'Seguro ELIMINAR este contacto?'}, :class => "ui-state-default ui-corner-all botones_servicio", :title => "Eliminar contacto #{datos_contacto.nombre_contacto}" }) 
              
  %br/
  %br/
  %a.ui-state-default.ui-corner-all.nuevo_contacto{:href => "#{new_empresa_datos_contacto_path}", :title => "Agregar un nuevo contacto para la empresa #{@empresa.nombre_empresa}"}
    %span.ui-icon.ui-icon-circle-plus
    Nuevo Contacto

  %a.ui-state-default.ui-corner-all.regresar_editar_empresa{:href => "javascript:window.history.back()", :title => "Regresar"}
    %span.ui-icon.ui-icon-arrowreturnthick-1-w
    Regresar

  

