%section.contexto
  %label.contexto 
    ="#{@empresa.prefijo} > "+@empresa.nombre_empresa + " > Editar Etiqueta"
  %hr.contexto{:size => "1"}
  %section.formulario

    = form_tag "/empresas/#{params[:empresa_id]}/etiquetas/#{params[:empresa_id]}", :method => "put" do 
     
      %table
        %tr
          %td
            Contacto
          %td
            =text_field_tag "empresa[rep_ean]", "#{@empresa.rep_ean}", :size => "100"
        %tr
          %td
            Cargo
          %td
            =text_field_tag "empresa[rep_ean_cargo]", "#{@empresa.rep_ean_cargo}", :size => "100"
        %tr
          %td
            Dirección
          %td
            =text_field_tag "empresa[direccion_ean]", "#{@empresa.direccion_ean}", :size => "100"
        
        %tr
          %td
            Punto Referencia
          %td
            =text_field_tag "empresa[punto_ref_ean]", "#{@empresa.punto_ref_ean}", :size => "100"

        %tr
          %td
            Estado
          %td
            =select_tag "empresa[id_estado_ean]", options_from_collection_for_select(Estado.find(:all, :order => "nombre ASC"), :id, :nombre, @empresa.try(:id_estado_ean)), :prompt => "-Seleccione-"
        %tr
          %td
            Ciudad
          %td
            =select_tag "empresa[id_ciudad_ean]", options_from_collection_for_select(Ciudad.all, :id, :nombre, @empresa.try(:id_ciudad_ean)), :prompt => "-Seleccione-"
        %tr
          %td
            Municipio
          %td
            =select_tag "empresa[id_municipio_ean]", options_from_collection_for_select(Municipio.all, :id, :nombre,@empresa.try(:id_municipio_ean)), :prompt => "-Seleccione-"
        %tr
          %td
            Parroquia
          %td
            
            =text_field_tag "empresa[parroquia_ean]", "#{@empresa.try(:parroquia_ean)}", :size => "100"

        %tr
          %td
            Teléfono 1
          %td
            =text_field_tag "empresa[telefono1_ean]", "#{@empresa.telefono1_ean}"
        %tr
          %td
            Teléfono 2
          %td
            =text_field_tag "empresa[telefono2_ean]", "#{@empresa.telefono2_ean}"

        

        %tr
          %td
            Código Postal
          %td
            =text_field_tag "empresa[cod_postal_ean]", "#{@empresa.cod_postal_ean}"
       
          
      .actions
        %br
        %br
        %button#submit.ui-state-default.ui-corner-all.eliminar_gln{:type => "submit", :title => "Guardar datos de etiqueta"}
          %span.ui-icon.ui-icon-disk
          Guardar

        %a.ui-state-default.ui-corner-all.regresar_empresas{:href => "/empresas/#{params[:empresa_id]}/etiquetas/#{params[:id]}", :title => "Regresar al detalle de etiqueta"}
          %span.ui-icon.ui-icon-arrowreturnthick-1-w
          Regresar
        
      