%section.contexto
  %label.contexto 
    =@empresa.nombre_empresa + " > Editar Etiqueta"
  %hr.contexto{:size => "1"}
  %section.formulario

    = form_tag "/empresas/#{params[:empresa_id]}/etiquetas/#{params[:empresa_id]}", :method => "put" do 
      - if @etiqueta.errors.any?
        #error_explanation
          %h2= "#{pluralize(@etiqueta.errors.count, "errore")} "
          %ul
            - @etiqueta.errors.full_messages.each do |msg|
              %li= msg
      %table
        %tr
          %td
            Nombre del representante legal
          %td
            =text_field_tag "nombre_contacto", "#{@empresa.rep_legal}", :size => "100"
        %tr
          %td
            Cargo
          %td
            =text_field_tag "cargo_contacto", "#{@empresa.cargo_rep_legal}", :size => "100"
        %tr
          %td
            Teléfono
          %td
            =text_field_tag "contacto", "#{@contacto.contacto}"
        %tr
          %td
            Edificio
          %td
            =text_field_tag "edificio", "#{@etiqueta.edificio}", :size => "100"
        %tr
          %td
            Calle 
          %td
            =text_field_tag "calle", "#{@etiqueta.calle}", :size => "100"
        %tr
          %td
            Urbanización
          %td
            =text_field_tag "urbanizacion", "#{@etiqueta.urbanizacion}", :size => "100"
        %tr
          %td
            Estado
          %td
            =select_tag "id_estado", options_from_collection_for_select(Estado.find(:all, :order => "nombre ASC"), :id, :nombre, @etiqueta.try(:id_estado)), :prompt => "-Seleccione-"
        %tr
          %td
            Ciudad
          %td
            =select_tag "id_ciudad", options_from_collection_for_select(Ciudad.all, :id, :nombre, @etiqueta.try(:id_ciudad)), :prompt => "-Seleccione-"
        %tr
          %td
            Municipio
          %td
            =select_tag "id_municipio", options_from_collection_for_select(Municipio.all, :id, :nombre,@etiqueta.try(:id_municipio)), :prompt => "-Seleccione-"
        %tr
          %td
            Parroquia
          %td
            /=select_tag "id_parroquia", options_from_collection_for_select(Parroquia.all, :id, :nombre,@etqueta.try(:id_parroquia)), :prompt => "-Seleccione-"
            =text_field_tag "nombre_parroquia", "#{@etiqueta.nombre_parroquia}", :size => "100"

        %tr
          %td
            Código Postal
          %td
            =text_field_tag "cod_postal", "#{@etiqueta.cod_postal}"
        %tr
          %td
            Punto Referencia
          %td
            =text_field_tag "punto_referencia", "#{@etiqueta.punto_referencia}", :size => "100"
          
      .actions
        %br
        %br
        %button#submit.ui-state-default.ui-corner-all.eliminar_gln{:type => "submit", :title => "Guardar datos de etiqueta"}
          %span.ui-icon.ui-icon-disk
          Guardar

        %a.ui-state-default.ui-corner-all.regresar_empresas{:href => "/empresas/#{params[:empresa_id]}/etiquetas/#{params[:id]}", :title => "Regresar al detalle de etiqueta"}
          %span.ui-icon.ui-icon-arrowreturnthick-1-w
          Regresar
        
      