%section.contexto
  %label.contexto 
    =@navegabilidad
  %hr.contexto{:size => "1"}

  %section.formulario
  %p#notice= notice

  %table
    %tr
      %td
        Nombre
      %td
        =@contacto.try(:nombre_contacto) ?  @contacto.try(:nombre_contacto)  : "No tiene"
    %tr
      %td
        Cargo
      %td
        =@contacto.try(:cargo_contacto) ? @contacto.try(:cargo_contacto) : "No tiene"
    %tr
      %td
        Teléfono Principal
      %td
        =@contacto.try(:contacto) ? @contacto.try(:contacto) : "No tiene"
    %tr
      %td
        Edificio
      %td
        =@etiqueta.try(:edificio)
    %tr
      %td
        Calle
      %td
        =@etiqueta.try(:calle)
    %tr
      %td
        Urbanización
      %td
        =@etiqueta.try(:urbanizacion)
    %tr
      %td
        Estado
      %td 
        =@etiqueta.try(:estado).try(:nombre)
    %tr
      %td
        Ciudad
      %td
        =@etiqueta.try(:ciudad).try(:nombre)
    %tr
      %td
        Municipio
      %td
      
        =@etiqueta.try(:municipio).try(:nombre)
    %tr
      %td
        Parroquia
      %td
        =@etiqueta.try(:parroquia).try(:nombre)
    %tr
      %td
        Código Postal
      %td
        =@etiqueta.try(:cod_postal)
    %tr
      %td
        Punto Referencia
      %td
        =@etiqueta.try(:punto_referencia)
  

  = link_to 'Regresar', empresas_path
  \|
  = link_to 'Editar', edit_empresa_etiqueta_path(params[:empresa_id], params[:empresa_id])
  \|
  = link_to 'Exportar PDF', "/empresas/#{params[:empresa_id]}/etiquetas/#{params[:empresa_id]}.pdf", :target => "_blank"
