%section.contexto
  %label.contexto 
    =@producto.new_record? ? ("#{@empresa.prefijo} > " + @empresa.nombre_empresa + " > Registrar Producto") : "#{@empresa.prefijo} > "+(@empresa.nombre_empresa + " > Editar Producto > #{@producto.gtin}")
  %hr.contexto{:size => "1"}

  %section.formulario
    
    = form_for [@empresa, @producto] do |f|
      - if @producto.errors.any?
        #error_explanation
          %h2= "#{pluralize(@producto.errors.count, "errore")} "
          %ul
            - @producto.errors.full_messages.each do |msg|
              -if msg == 'El codigo de Producto que esta ingresando ya  se encuentra asociado a un GTIN'
                %li="El codigo de Producto que está ingresando ya se encuentra asociado a un GTIN"
              -else
                %li=msg 
      
      %table
        %tr
          %td.texto_tipo_gtin
            =@gtin.nil? ? "Tipo GTIN" : "Tipo GTIN Base"
          %td.combo_tipo_gtin

            -if @producto.new_record?
              =@gtin.nil? ? f.collection_select(:id_tipo_gtin, TipoGtin.find(:all, :conditions => ["tipo in (?)", ["GTIN-8", "GTIN-13"]]), :id, :tipo, :prompt => "-Seleccione-") : f.collection_select(:id_tipo_gtin, TipoGtin.find(:all, :conditions => ["id = ?", params[:base]]), :id, :tipo_gtin_base)

            -else
              =f.hidden_field :id_tipo_gtin, :value => "#{@producto.id_tipo_gtin}"
              =text_field_tag "tipo_gtin", "#{@producto.tipo_gtin.tipo}", :class => "campo_readonly", :readonly => :true
        %tr
          %td
            Tipo de Creación
          %td
            Manual
            =radio_button_tag 'tipo_creacion', 'manual'
            Automático
            =radio_button_tag 'tipo_creacion', 'automatica'
          %td
            
            
        %tr
          %td
            Descripción
          %td

            -if @producto.new_record?
              
              =params[:descripcion] ? f.text_field(:descripcion, :value => @producto_.descripcion, :size => 60)   : f.text_field(:descripcion, :autocomplete => "off", :size => 60)
            -else
              
              =params[:descripcion] ? f.text_field(:descripcion, :value => @producto_.descripcion, :size => 60) : f.text_field(:descripcion, :autocomplete => "off", :size => 60)
            
        %tr
          %td
            Marca
          %td
            -if @producto.new_record?
              =params[:marca] ? f.text_field(:marca, :value => params[:marca], :size => 60): f.text_field(:marca, :autocomplete => "off",  :size => 60)
            -else
              =params[:marca] ? f.text_field(:marca, :value => params[:marca], :size => 60): f.text_field(:marca, :autocomplete => "off", :size => 60)
        
        %tr
          %td.codigo_producto
            -if !@producto.new_record? or (@producto.errors.messages[:gtin])
              Código Producto
          %td.valor_codigo_producto
            -if !@producto.new_record?
              =(f.text_field :codigo_prod, :readonly => :true, :class => "campo_readonly")
            -elsif @producto.errors.messages[:gtin]
              =f.text_field :codigo_prod
        
      
      =hidden_field_tag "gtin", "#{@gtin}"
      =hidden_field_tag "exceso_productos", "#{@excede_gtin13}"
     
      %button#submit.ui-state-default.ui-corner-all.guardar_producto{:type => "submit", :title => "Guardar producto"}
        %span.ui-icon.ui-icon-disk
        Guardar Producto

      %a.ui-state-default.ui-corner-all.regresar{:href => "/empresas/#{params[:empresa_id]}/productos", :title => "Regrar al listado de Productos para esta Empresa"}
        %span.ui-icon.ui-icon-arrowreturnthick-1-w
        Regresar
        
        
      