%section.contexto
  %label.contexto 
    -if @producto.new_record?
      Registar Producto 
    -else
      Editar Producto
  %hr.contexto{:size => "1"}

  %section.formulario

  = form_for @producto do |f|
    - if @producto.errors.any?
      #error_explanation
        %h2= "#{pluralize(@producto.errors.count, "error")} prohibited this producto from being saved:"
        %ul
          - @producto.errors.full_messages.each do |msg|
            %li= msg

    %table
      / %tr
      /   %td
      /     GTIN
      /   %td
      /     -if @producto.new_record?
      /       =f.text_field :gtin
      /     -else
      /       = @producto.gtin
      %tr
        %td
          Descripción
        %td
          = f.text_field :descripcion
      %tr
        %td
          Marca
        %td
          = f.text_field :marca
      %tr
        %td
          GPC
        %td
          =f.text_field :gpc
      %tr
        %td
          Estatus
        %td
        
          = f.collection_select :id_estatus, Estatus.find(:all, :conditions => ["(descripcion like ? or descripcion like ?) and alcance = ?", 'Activo', 'Retirado', 'Producto']), :id, :descripcion
          
   
      %tr
        %td
          Código Producto
        %td
          = f.text_field :codigo_prod
     
      %tr
        %td
          Tipo GTIN
        %td
          = f.collection_select :id_tipo_gtin, TipoGtin.all, :id, :tipo_gtin_base, @base ? {:selected => "#{@base.id}"} : {}
    =hidden_field_tag "prefijo", "#{@prefijo}"
    =hidden_field_tag "gtin", "#{@gtin}"
          
    .actions
      = f.submit 'Guardar'
