%section.contexto
  %label.contexto 
    -if @producto.new_record?
      Registar Producto 
    -else
      Editar Producto
  %hr.contexto{:size => "1"}

  %section.formulario

    
    = form_for [@empresa, @producto] do |f|
      - if @producto.errors.any?
        #error_explanation
          %h2= "#{pluralize(@producto.errors.count, "errore")} "
          %ul
            - @producto.errors.full_messages.each do |msg|
              %li= msg
      
      - if @producto.new_record?
        %table  
          %tr
            %td
              Creaci칩n del Producto
            %td
              Manual
            %td
              =radio_button_tag 'tipo_creacion', 'manual'
            %td
              Autom치tica
            %td
              =radio_button_tag 'tipo_creacion', 'automatica'
        %br

      
      %table
        %tr
          %td.texto_tipo_gtin
            -if !@producto.new_record?
              Tipo GTIN
          %td.combo_tipo_gtin
            -if !@producto.new_record?
              =f.hidden_field :id_tipo_gtin, :value => "#{@producto.id_tipo_gtin}"
              =text_field_tag "tipo_gtin", "#{@producto.tipo_gtin.tipo}", :class => "campo_readonly", :readonly => :true
        %tr
          %td
            Descripci칩n
          %td
            =@producto.new_record? ? f.text_field(:descripcion, :disabled => :true) : f.text_field(:descripcion)
        %tr
          %td
            Marca
          %td
            = @producto.new_record? ? f.text_field(:marca, :disabled => :true): f.text_field(:marca)
        %tr
          %td
            GPC
          %td
            =@producto.new_record? ? (f.text_field :gpc, :disabled => :true) :  (f.text_field :gpc, :readonly => :true, :class => "campo_readonly")
        %tr
          %td
            C칩digo Producto
          %td
            =@producto.new_record? ? (f.text_field :codigo_prod, :disabled => :true) : (f.text_field :codigo_prod, :readonly => :true, :class => "campo_readonly")
        
      =hidden_field_tag "gtin", "#{@gtin}"
      .actions.boton_submit
        -if !@producto.new_record?
          = f.submit 'Guardar'
      