%section.contexto
    %label.contexto
        =@navegabilidad 
    %hr.contexto{:size => "1"}

%section#areaTrabajo.areaTrabajo
    %p#notice= notice
    
    = render 'exportar_productos_retirar.html.haml'
    =form_tag "#{empresa_productos_path}/update_multiple", :method => "put", :id => "formulario_retirar_productos" do
       
        %table.margen_inferior{:border => 1}
            %tr
                %td
                    Retiro Masivo
                %td
                    SubEstatus
                %td
                    Motivo Retiro
            %tr
                %td
                    =check_box_tag "retiro_masivo_productos"
                %td
                    =select_tag("retirar_producto_sub_estatus", options_from_collection_for_select(SubEstatus.all, "id", "descripcion"))
                %td
                    =select_tag("retirar_producto_motivo_retiro", options_from_collection_for_select(MotivoRetiro.all, "id", "descripcion"))
        
        
        %table#data_table_retirar_productos.display{:"data-source" => "#{empresa_productos_path}.json?retirar=true"}
            %thead
                %tr
                    %th
                    %th Empresa
                    %th Tipo GTIN    
                    %th GTIN
                    %th Descripción
                    %th Marca
                    %th Estatus
                    %th Código Prod
                    %th Fecha Creación
                    %th SubEstatus
                    %th Motivo Ret
                   
            %tbody
            %tfoot
                =render 'footer_retirar_productos'
        
        %br/
        %br/
        #datos_productos_retirar_productos
        =hidden_field_tag "retirar"
        %button#submit.ui-state-default.ui-corner-all.retirar_productos{:type => "submit", :title => "Retirar Productos"}
            %span.ui-icon.ui-icon-circle-minus
            Retirar
        %a.ui-state-default.ui-corner-all.regresar{:href => "/empresas/#{params[:empresa_id]}/productos", :title => "Regresar al listado de productos para esta Empresa"}
            %span.ui-icon.ui-icon-arrowreturnthick-1-w
            Regresar

        
