%section.contexto
  %label.contexto 
    -if @usuario.new_record?
      Crear Usuario
    -else
      Editar Usuario
  %hr.contexto{:size => "1"}

  %section.formulario
    = form_for(@usuario) do |f|
      - if @usuario.errors.any?
        #error_explanation
          %h2
            = pluralize(@usuario.errors.count, "error")
            prohibited this usuario from being saved:
          %ul
            - @usuario.errors.full_messages.each do |msg|
              %li= msg
      .field
        = f.label :username
        %br/
        = f.text_field :username
      .field
        = f.label :password
        %br/
        = f.password_field :password
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation
      .field
        = f.label :nombre_apellido
        %br/
        = f.text_field :nombre_apellido
      .field
        = f.label :email
        %br/
        = f.text_field :email
      .field
        = f.label :id_perfil
        %br/
        = f.number_field :id_perfil
      .field
        = f.label :id_gerencia
        %br/
        = f.number_field :id_gerencia
      .field
        = f.label :id_cargo
        %br/
        = f.number_field :id_cargo
      .field
        = f.label :fecha_creacion
        %br/
        = f.text_field :fecha_creacion
      .actions
        = f.submit