%section.contexto
  %label.contexto 
    -if @usuario.new_record?
      Crear Usuario
    -else
      Editar Usuario
  %hr.contexto{:size => "1"}

  %section.formulario
    = form_for(@usuario) do |f|
      - if @usuario.errors.any?
        #error_explanation
          %h2
            = pluralize(@usuario.errors.count, "errore")
          %ul
            - @usuario.errors.full_messages.each do |msg|
              %li= msg
      %table
        %tr
          %td
            Usuario
          %td
            = f.text_field :username
        %tr
          %td
            Clave
          %td
            /=@usuario.new_record? ? f.password_field(:password) : f.password_field(:password, :value => "password")
            =f.password_field(:password)
        %tr
          %td
            Confirmación Clave
          %td
            /=@usuario.new_record? ? f.password_field(:password_confirmation): f.password_field(:password_confirmation, :value => "password")
            =f.password_field(:password_confirmation)
        %tr
          %td
            Nombre
          %td
            =f.text_field :nombre_apellido
        %tr
          %td
            Correo
          %td
            = f.text_field :email
        %tr
          %td
            Perfil
          %td
            =f.collection_select :id_perfil, Perfil.order("descripcion asc"), :id, :descripcion, :prompt => "-Seleccione-"
        %tr
          %td
            Gerencia
          %td
            = f.collection_select :id_gerencia, Gerencia.order("nombre asc"), :id, :nombre, :prompt => "-Seleccione-"
        %tr
          %td
            Cargo
          %td
            = f.collection_select :id_cargo, Cargo.order("descripcion asc"), :id, :descripcion, :prompt => "-Seleccione-"

      .actions
        %button#submit.ui-state-default.ui-corner-all.crear_empresa{:type => "submit", :title => "Guardar usuario"}
          %span.ui-icon.ui-icon-disk
          Guardar

        %a.ui-state-default.ui-corner-all.nuevo_contacto{:href => "#{usuarios_path}", :title => "Regresar al listado de usuarios"}
          %span.ui-icon.ui-icon-arrowreturnthick-1-w
          Regresar
        
        