%section.contexto
	%label.contexto Usuarios > Listado
	%hr.contexto{:size => "1"}
%section#areaTrabajo.areaTrabajo
	%p#notice= notice
	%table#usuarios.display
		%thead
			%tr
			%th Usuario
			%th Nombre 
			%th Email
			%th Perfil
			%th Gerencia
			%th Cargo
			%th Fecha Creación
			
			- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Modificar Usuario')
				%th
			- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Eliminar Usuario')
				%th
			
		%tbody
			- @usuarios.each do |usuario|
				%tr
					%td= usuario.username
					%td= usuario.nombre_apellido
					%td= usuario.email
					%td= usuario.try(:perfil).try(:descripcion)
					%td= usuario.try(:gerencia).try(:nombre)
					%td= usuario.try(:cargo).try(:descripcion)
					%td
						= usuario.fecha_creacion.strftime("%Y-%m-%d") if usuario.fecha_creacion
					
					- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Modificar Usuario')
						%td= link_to(( content_tag(:span, '',:class => 'ui-icon ui-icon-extlink')+'Editar').html_safe,  edit_usuario_path(usuario),  {:class => "ui-state-default ui-corner-all botones_servicio", :title => "Editar usuario #{usuario.username}"})
					- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Eliminar Usuario')
						%td= link_to(( content_tag(:span, '',:class => 'ui-icon ui-icon-extlink')+'Eliminar').html_safe,  usuario, method: :delete, data: { confirm: 'Desea ELIMINAR este usuario?'}, :class => "ui-state-default ui-corner-all botones_servicio", :title => "Eliminar usuario #{usuario.username}")

	- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Registrar Usuario')
		%br
		%br

		%a.ui-state-default.ui-corner-all.regresar_empresas_sin_espacio{:href => "#{new_usuario_path}", :title => "Crear usuario"}
			%span.ui-icon.ui-icon.ui-icon-circle-plus
			Crear usuario
		%a.ui-state-default.ui-corner-all.regresar_empresas{:href => "/empresas", :title => "Regresar listado general de empresas"}
			%span.ui-icon.ui-icon.ui-icon-circle-plus
			Regresar

		

	
	
