<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @usuario.username %>
</p>

<p>
  <b>Password:</b>
  <%= @usuario.password %>
</p>

<p>
  <b>Nombre apellido:</b>
  <%= @usuario.nombre_apellido %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Id perfil:</b>
  <%= @usuario.id_perfil %>
</p>

<p>
  <b>Id gerencia:</b>
  <%= @usuario.id_gerencia %>
</p>

<p>
  <b>Id cargo:</b>
  <%= @usuario.id_cargo %>
</p>

<p>
  <b>Fecha creacion:</b>
  <%= @usuario.fecha_creacion %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
