%section.contexto
  %label.contexto 
    =@empresa_servicio.new_record? ? (@empresa.nombre_empresa + " > Asociar Servicio") : (@empresa.nombre_empresa + " > Editar Servicio")
    
  %hr.contexto{:size => "1"}

  %section.formulario
    = form_for [@empresa, @empresa_servicio] do |f|
      - if @empresa_servicio.errors.any?
        #error_explanation
          %h2= "#{pluralize(@empresa_servicio.errors.count, "errore")}"
          %ul
            - @empresa_servicio.errors.full_messages.each do |msg|
              %li= msg
      %table
        %tr
          %td
            Nombre Servicio
          %td
            -if @empresa_servicio.new_record?
              =f.collection_select :id_servicio, Servicio.all, :id, :nombre, :prompt => "-Seleccione-"
            -else
              =f.hidden_field :id_servicio, :value => @empresa_servicio.id_servicio
              =text_field_tag "servicio", "#{@empresa_servicio.servicio.nombre}", :readonly => :true, :class => "campo_readonly"
        %tr
          %td
            Fecha Contratación
          %td
            = @empresa_servicio.new_record? ? (f.text_field :fecha_contratacion) : (f.text_field :fecha_contratacion , :value => "#{@empresa_servicio.fecha_contratacion.strftime("%Y-%m-%d")}", :class => 'campo_readonly', :readonly => :true)
        %tr
          %td
            Fecha Culminación
          %td
            = @empresa_servicio.new_record? ? (f.text_field :fecha_finalizacion) : (f.text_field :fecha_finalizacion , :value => "#{@empresa_servicio.fecha_contratacion.strftime("%Y-%m-%d")}", :class => 'campo_readonly', :readonly => :true)
        %tr
          %td
            Nombre Contacto
          %td
            =f.text_field :nombre_contacto
        %tr
          %td
            Cargo Contacto
          %td
            =f.text_field :cargo_contacto 
        %tr
          %td
            Teléfono
          %td
            =f.text_field :telefono, :placeholder => "Ej. 04161234567"
        %tr
          %td
            Correo
          %td
            =f.text_field :email, :placeholder => "correo@dominio.com"
        
     
      .actions
        %button#submit.ui-state-default.ui-corner-all.guardar_servicio{:type => "submit", :title => "Guardar servicio"}
          %span.ui-icon.ui-icon-disk
          Guardar
        %a.ui-state-default.ui-corner-all.nuevo_contacto{:href => "/empresas/#{params[:empresa_id]}/empresa_servicios", :title => "Regresar al listado de servicios"}
          %span.ui-icon.ui-icon-arrowreturnthick-1-w
          Regresar
        
