%section.contexto
  %label.contexto.titulo_contrato
    =@empresa.new_record? ? "Registrar Empresa" : "#{@empresa.prefijo} > #{@empresa.nombre_empresa} > Editar Empresa"
  
  %br
  %br
  
  %section.formulario
    = form_for(@empresa, :html => {:id => "formulario_crear_empresa"}) do |f|

      -if @empresa.errors.any? 
        #error_explanation
          %h2= pluralize(@empresa.errors.count, "errore")
          %ul
            // Customización de los mensajes de error para el formulario empresa
            -@empresa.errors.full_messages.each do |msg|
              -if msg == 'Id estado no puede estar en blanco'
                %li='Debe selecionar una opción para el Estado.'
              -elsif msg == 'Id ciudad no puede estar en blanco'
                %li='Debe selecionar una opción para la Ciudad.'
              -elsif msg == 'Id clasificación no puede estar en blanco'
                %li='Debe seleccionar una clasificación.'
              -elsif msg == 'Datos contacto contacto no puede estar en blanco'
                %li='El campo Contacto no puede estar en blanco.'
              -elsif msg == 'Datos contacto nombre contacto no puede estar en blanco'
                %li='El campo Nombre Contacto no puede estar en blanco.'
              -elsif msg == 'Datos contacto cargo contacto no puede estar en blanco'
                %li='El campo Cargo Contacto no puede estar en blanco.'
              -else
                %li=msg + '.'
              
      
      %table
        %tr
          %td.prefijo
            Prefijo Asignado
          %td.prefijo
            -if @empresa.new_record?
              =f.text_field :prefijo , :value => "#{@ultimo}", :readonly => :true, :class => 'campo_readonly prefijo'
            -else
              =f.text_field :prefijo, :readonly => :true, :class => 'campo_readonly prefijo'
          -if @empresa.new_record?
            %td
              =link_to "Asignar Prefijo", "#", :id => "boton_abrir_ventana_prefijo_manual"
      %br
      %table
        %tr
          %td
            AFILIACION EN TIPO
          %td
          %td
            -if @empresa.new_record?
              =f.collection_select :id_tipo_usuario, TipoUsuarioEmpresa.find(:all, :conditions => ["descripcion in (?)", ['Usuario', 'No Usuario']]),:id_tipo_usu_empresa, :descripcion  
            -else
              =f.collection_select :id_tipo_usuario, TipoUsuarioEmpresa.all, :id_tipo_usu_empresa, :descripcion, :prompt => "-Seleccione-"
      
        %tr
          %td
            NOMBRE DE LA EMPRESA
          %td
          %td
            =f.text_field :nombre_empresa
        %tr
          %td
            Estado
          %td
          %td
            = f.collection_select :id_estado, Estado.find(:all, :order => "nombre ASC"), :id, :nombre, {:prompt => '-Seleccione Estado-'}
        %tr
          %td
            Ciudad
          %td
          %td
            = f.collection_select :id_ciudad, Ciudad.find(:all, :order => "nombre ASC"), :id, :nombre, {:prompt => '-Seleccione Ciudad-'}
        %tr
          %td
            DIRECCION FISCAL
          %td
          %td         
            =f.text_field :direccion_empresa, {:size => "80"}
            
        %tr
          %td
            Teléfono 1 (58)
          %td
          
            =text_field_tag "codigo_telefono1", nil, :placeholder => "212", :size => "3"
          %td
            =f.text_field :contacto_tlf1,  :placeholder => "123-45-67"
          %td
            
        %tr
          %td
            Teléfono 2 (58)
          %td
            =text_field_tag "codigo_telefono2", nil, :placeholder => "416", :size => "3"
          %td
            =f.text_field "contacto_tlf2",  {:placeholder => "123-45-67"}
        %tr
          %td
            Teléfono 3 (58)
          %td
            =text_field_tag "codigo_telefono3", nil, :placeholder => "412", :size => "3"
          %td
            =f.text_field "contacto_tlf3",  {:placeholder => "123-45-67"}
        %tr
          %td
            FAX (58)
          %td
            =text_field_tag "codigo_telefono4", nil, :placeholder => "212", :size => "3"
          %td
            =f.text_field "contacto_fax",  {:placeholder => "123-45-67"}
        %tr
          %td
            E-mail
          %td
          %td
            =f.text_field "contacto_email1",  {:class => "email", :placeholder => "correo@prueba.com"}
        %tr
          %td
            Correo Secundario
          %td
          %td
            =f.text_field "contacto_email2",  {:class => "email", :placeholder => "correo@prueba.com"}


        %tr
          %td
            Circunscripción Judicial del Registro Mercantil
          %td
          %td
            =f.text_field :circunscripcion_judicial
        %tr
          %td
            Fecha de inscripción en Registro Mercantil
          %td
          %td
            = @empresa.new_record? ? f.text_field(:fecha_registro_mercantil) : f.text_field(:fecha_inscripcion, :value => "#{@empresa.try(:fecha_registro_mercantil)}")
        %tr
          %td
            Nº
          %td
          %td
            =f.text_field :numero_registro_mercantil
        %tr
          %td
            Tomo Nº
          %td
          %td
            =f.text_field :tomo_registro_mercantil
        %tr
          %td
            RIF
          %td
            /=select_tag "tipo_rif", "<option value='tipo'>tipo</option><option value='J'>J</option><option value='G'>G</option><option value='E'>E</option><option value='V'>V</option>".html_safe
          %td
            = f.text_field :rif, :placeholder => "J-12548785-4"    
        / %tr
        /   %td
        /     NIT Nº
        /   %td
        /     =f.text_field :nit_registro_mercantil
     
        %tr
          %td
            NOMBRE RESPONSABLE LEGAL
          %td
          %td
            =f.text_field :rep_legal
        %tr
          %td
            CARGO
          %td
          %td
            =f.text_field :cargo_rep_legal
        %tr
          %td
            Nacionalidad
          %td
          %td
            =f.text_field :nacionalidad_responsable_legal
        %tr
          %td
            Cédula Representante Legal
          %td
            
          %td
            =f.text_field :cedula_responsable_legal, :placeholder => "12345678"


        %tr
          %td
            Domiciliado en
          %td
          %td
            =f.text_field :domicilio_responsable_legal
    
        %tr
          %td
            VENTAS BRUTAS ANUALES
          %td
          %td
            =f.select(:ventas_brutas_anuales, options_for_select(['0 a 200.000', 'De 200.001,00 a 2.000.000,00', 'De 2.000.001,00 a 4.500.000,00', 'De 4.500.001,00 a 6.000.000,00', 'De 6.000.0001,00 o más'], @empresa.ventas_brutas_anuales), :prompt => "- Seleccione -")
      %br

      %br

      %label.contexto
        a. DIRECCION PARA ENVIO DE CORRESPONDENCIA DE CODIFICACION GS1
      %hr.contexto{:size => "1"}

        %table
          %tr
            %td
              NOMBRE PERSONA CONTACTO
            %td

              =f.text_field :rep_ean
            
          %tr
            %td
              CARGO
            %td
              =f.text_field :rep_ean_cargo
              
          %tr
            %td
              
              Dirección 1
              
            %td
              
              =f.text_field :direccion_ean1
          %tr
            %td
              
              Dirección 2
            %td
              
              =f.text_field :direccion_ean1

          %tr
            %td
              
              Dirección 3
              
            %td
              
              =f.text_field :direccion_ean3
              
          %tr
            %td
              
              Dirección 4
              
            %td
              
              =f.text_field :direccion_ean4
          %tr
            %td
              
            %td
              
          %tr
            %td
              ESTADO
            %td
              =f.collection_select :id_estado_ean, Estado.all, :id, :nombre
              
              
          %tr
            %td
              CIUDAD
            %td
              
              =f.collection_select :id_ciudad_ean, Ciudad.all, :id, :nombre
              
              
          %tr
            %td
              MUNICIPIO
            %td
              
              =f.collection_select :id_municipio_ean, Municipio.all, :id, :nombre
              
          %tr
            %td
              PARROQUIA
            %td
              
              =f.text_field :parroquia_ean
              
          %tr
            %td
              Punto Referencia
            %td
              
              =f.text_field :punto_ref_ean
          %tr
            %td
              Código Postal
            %td
              
              =f.text_field :cod_postal_ean
          %tr
            %td
              Teléfono 1 (58)
            %td
              
              =f.text_field :telefono1_ean

          %tr
            %td
              Teléfono 2 (58)
            %td
              
              =f.text_field :telefono2_ean

          %tr
            %td
              Teléfono 3 (58)
            %td
              
              =f.text_field :telefono3_ean
          %tr
            %td
              Fax (58)
            %td
              
              =f.text_field :fax_ean
          %tr
            %td
              E-mail 1
            %td
              
              =f.text_field :email1_ean
          %tr
            %td
              E-mail 2
            %td
              
              =f.text_field :email2_ean
      
      %br
      %label.contexto
        b. DIRECCION PARA ENVIO DE CORRESPONDENCIA DE COMERCIO ELECTRONICO Y SINCRONET
      %hr.contexto{:size => "1"}

        %table
          %tr
            %td
              NOMBRE PERSONA CONTACTO
            %td
              =f.text_field :rep_edi
          %tr
            %td
              CARGO
            %td
              =f.text_field :rep_edi_cargo
          %tr
            %td
              Dirección 1
              
            %td
              =f.text_field :direccion_edi1
          %tr
            %td
              Dirección 2
              
            %td
              = f.text_field :direccion_edi2
          %tr
            %td
              Dirección 3
              
            %td
              = f.text_field :direccion_edi3 
             
          %tr
            %td
              ESTADO
            %td
              
              =f.collection_select :id_estado_edi, Estado.all, :id, :nombre
                
          %tr
            %td
              CIUDAD
            %td
              = f.collection_select :id_ciudad_edi, Ciudad.all, :id, :nombre
              
          %tr
            %td
              MUNICIPIO
            %td
              = f.collection_select :id_municipio_edi, Municipio.all, :id, :nombre
              
          %tr
            %td
              PARROQUIA
            %td
              =f.text_field :parroquia_edi
              
          %tr
            %td
              Punto Referencia
            %td
              =f.text_field :punto_ref_edi
          %tr
            %td
              Código Postal
            %td
              = f.text_field :codigo_postal_edi

          %tr
            %td
              Teléfono 1 (58)
            %td
              =f.text_field :telefono1_edi
          %tr
            %td
              Teléfono 2 (58)
            %td
              =f.text_field :telefono2_edi
          %tr
            %td
              Teléfono 3 (58)
            %td
              =f.text_field :telefono3_edi
          %tr
            %td
              Fax (58)
            %td
              =f.text_field :fax_edi
          %tr
            %td
              E-mail
            %td
              =f.text_field :email1_edi
      
      %br/

      %label.contexto
        =@empresa.new_record? ? "Ramo de desempeño de la empresa" : @empresa.nombre_empresa + " > Ramo de desempeño de la empresa"
      %hr.contexto{:size => "1"}

      %table
        %tr
           
            
        %tr
          %td
            Categoría 
          %td
            = f.text_field :categoria, :readonly => :true, :class => 'campo_readonly'
        %tr
          %td
            División
          %td
            = f.text_field :division , :readonly => :true, :class => 'campo_readonly'
        %tr
          %td
            Grupo
          %td
            = f.text_field :grupo , :readonly => :true, :class => 'campo_readonly'
        %tr
          %td
            Clase
          %td
            = f.text_field :clase, :readonly => :true, :class => 'campo_readonly'

      
      %button#submit.ui-state-default.ui-corner-all.crear_empresa{:type => "submit"}
        %span.ui-icon.ui-icon-circle-plus
        Guardar

      %a.ui-state-default.ui-corner-all.nuevo_contacto{:href => "/empresas", :title => "Regresar al listado general de empresas"}
        %span.ui-icon.ui-icon-arrowreturnthick-1-w
        Regresar

    #asignar_prefijo_manual
      -if params[:action] == 'new'
        =render 'ventana_prefijo_manual'
      


          
      






    

        

