%section.contexto
  %label.contexto.titulo_contrato
    -if params[:activacion]
      =@empresa.new_record? ? "Registrar Empresa" : "#{@empresa.nombre_empresa} > Editar Empresa"
    -else
      =@empresa.new_record? ? "Registrar Empresa" : "#{@empresa.nombre_empresa} > Editar Empresa"
  
  %br
  %br
  
  %section.formulario
    = form_for(@empresa) do |f|

      -if @empresa.errors.any? 
        #error_explanation
          %h2= pluralize(@empresa.errors.count, "errore")
          %ul
            // Customización de los mensajes de error para el formulario empresa
            -@empresa.errors.full_messages.each do |msg|
              -if msg == 'Id tipo usuario No puede estar en blanco'
                %li='Debe seleccionar un tipo de usuario.'
              -elsif msg == 'Id estado No puede estar en blanco'
                %li='Debe selecionar un Estado.'
              -elsif msg == 'Id ciudad No puede estar en blanco'
                %li='Debe selecionar una Ciudad.'
              -elsif msg == 'Id clasificación no puede estar en blanco'
                %li='Debe seleccionar una clasificación.'
              -elsif msg == 'Direccion empresa No puede estar en blanco'
                %li='Debe ingresar la Dirección Fiscal.'
              -elsif msg == 'Contacto tlf1 No puede estar en blanco'
                %li='Debe ingresar al menos el Teléfono 1.'
              -elsif msg == 'Contacto email1 No puede estar en blanco'
                %li='Debe ingresar un E-mail.'
              -elsif msg == 'Rif No puede estar en blanco'
                %li='Campo RIF no puede estar en blanco.'
              -elsif msg == 'Rep legal No puede estar en blanco'
                %li='NOMBRE RESPONSABLE LEGAL no puede estar en blanco.'
              -elsif msg == 'Cargo rep legal No puede estar en blanco'
                %li='CARGO Rep. Legal no puede estar en blanco.'
              
             
              -else
                %li=msg + '.'

      
        
      %br
      %table
        -if params[:asociar_prefijo] == 'true'
          =hidden_field_tag "asociar_prefijo", 'true' 

        %tr
          %td
            AFILIACION EN TIPO
          %td
          %td
            -if @empresa.new_record?
              =f.collection_select :id_tipo_usuario, TipoUsuarioEmpresa.find(:all, :conditions => ["descripcion in (?)", ['Usuario', 'No Usuario']]),:id_tipo_usu_empresa, :descripcion, :prompt => "-Seleccione Tipo Usuario-"  
            -else
              =f.collection_select :id_tipo_usuario, TipoUsuarioEmpresa.all, :id_tipo_usu_empresa, :descripcion
      
        %tr
          %td
            NOMBRE DE LA EMPRESA
          %td
          %td
            =f.text_field :nombre_empresa
        %tr
          %td
            Nombre Comercial
          %td
          %td
            =f.text_field :nombre_comercial
        %tr
          %td
            Estado
          %td
          %td
            = f.collection_select :id_estado, Estado.find(:all, :order => "nombre ASC"), :id, :nombre, {:prompt => '-Seleccione Estado-'}
        %tr
          %td
            Ciudad
          %td
          %td
            = f.collection_select :id_ciudad, Ciudad.find(:all, :order => "nombre ASC"), :id, :nombre, {:prompt => '-Seleccione Ciudad-'}
        %tr
          %td
            DIRECCION FISCAL
          %td
          %td         

            =f.text_field :direccion_empresa, {:size => "110"}
            
        %tr
          %td
            Teléfono 1 (58)
          %td
            =f.text_field :cod_contacto_tlf1, :placeholder => "212", :size => "3"
          %td
            =f.text_field :contacto_tlf1,  :placeholder => "123-45-67"
          %td
            
        %tr
          %td
            Teléfono 2 (58)
          %td
            
            =f.text_field :cod_contacto_tlf2, :placeholder => "416", :size => "3"
          %td
            =f.text_field "contacto_tlf2",  {:placeholder => "123-45-67"}
        %tr
          %td
            Teléfono 3 (58)
          %td
            =f.text_field :cod_contacto_tlf3, :placeholder => "416", :size => "3"
          %td
            =f.text_field "contacto_tlf3",  {:placeholder => "123-45-67"}
        %tr
          %td
            FAX (58)
          %td
            =f.text_field :cod_contacto_fax, :placeholder => "416", :size => "3"
          %td
            =f.text_field "contacto_fax",  {:placeholder => "123-45-67"}
        %tr
          %td
            E-mail
          %td
          %td
            =f.text_field "contacto_email1",  {:class => "email", :placeholder => "correo@prueba.com"}
        %tr
          %td
            Correo Secundario
          %td
          %td
            =f.text_field "contacto_email2",  {:class => "email", :placeholder => "correo@prueba.com"}


        %tr
          %td
            Circunscripción Judicial del Registro Mercantil
          %td
          %td
            =f.text_field :circunscripcion_judicial
        %tr
          %td
            ="Fecha de inscripción en Registro Mercantil"
          %td
          %td

            =f.text_field(:fecha_registro_mercantil) 

        %tr
          %td
            Nº
          %td
          %td
            =f.text_field :numero_registro_mercantil
        %tr
          %td
            Tomo Nº
          %td
          %td
            =f.text_field :tomo_registro_mercantil
        %tr
          %td
            RIF
          %td
            =f.select "tipo_rif", ['J', 'G', 'E', 'V'].map{|opcion|[opcion,opcion]}, {:prompt => "--", :select => @empresa_registrada }
          %td
            = f.text_field :rif, :placeholder => "J-12548785-4"    
     
        %tr
          %td
            NOMBRE RESPONSABLE LEGAL
          %td
          %td
            =f.text_field :rep_legal
        %tr
          %td
            CARGO
          %td
          %td
            =f.text_field :cargo_rep_legal
        %tr
          %td
            Nacionalidad
          %td
          %td
            =f.text_field :nacionalidad_responsable_legal
        %tr
          %td
            Cédula Representante Legal
          %td
            
          %td
            =f.text_field :cedula_responsable_legal, :placeholder => "12345678"


        %tr
          %td
            Domiciliado en
          %td
          %td
            =f.text_field :domicilio_responsable_legal
    
        %tr
          %td
            VENTAS BRUTAS ANUALES
          %td
          %td
            =f.select(:ventas_brutas_anuales, options_for_select(['0 a 200.000', 'De 200.001,00 a 2.000.000,00', 'De 2.000.001,00 a 4.500.000,00', 'De 4.500.001,00 a 6.000.000,00', 'De 6.000.0001,00 o más'], @empresa.ventas_brutas_anuales), :prompt => "- Seleccione -")
        %tr
          %td
            Aporte Mantenimiento Bs.
          %td
          %td
            =f.text_field :aporte_mantenimiento_bs


      %br

      %br

      %label.contexto.codificacion_gs1_empresas_activas
        a. DIRECCION PARA ENVIO DE CORRESPONDENCIA DE CODIFICACION GS1
        =link_to 'Repetir Correspondencia', nil, {:id => "repetir_correspondencia_empresas_activas", :href => "#.codificacion_gs1_empresas_activas"}
      %hr.contexto{:size => "1"}

        %table
          %tr
            %td
              NOMBRE PERSONA CONTACTO
            %td
            %td

              =f.text_field :rep_ean
            
          %tr
            %td
              CARGO
            %td
            %td
              =f.text_field :rep_ean_cargo              


          %tr
            %td
              =f.select(:tipo_galpon_edificio_quinta, options_for_select(['Galpón', 'Edificio', 'Quinta'], @empresa.tipo_galpon_edificio_quinta), :prompt => "Galpón/Edificio/Quinta")
            %td
            %td
              =f.text_field :galpon_edificio_quinta
          %tr
            %td
              =f.select(:tipo_piso_numero, options_for_select(['Número', 'Piso'], @empresa.tipo_piso_numero), :prompt => "Número/Piso")
            %td
            %td
              =f.text_field :piso_numero

          %tr
            %td
              =f.select(:tipo_oficina_apartamento, options_for_select(['Apartamento', 'Oficina'], @empresa.tipo_oficina_apartamento), :prompt => "Apartamento/Oficina")
            %td
            %td
              =f.text_field :oficina_apartamento
          %tr
            %td
              =f.select(:tipo_avenida_calle, options_for_select(['Avenida', 'Calle'], @empresa.tipo_avenida_calle), :prompt => "Avenida/Calle")
            %td
            %td
              =f.text_field :avenida_calle

          %tr
            %td
              =f.select(:tipo_urbanizacion_barrio_sector, options_for_select(['Urbanizacion', 'Barrio', 'Sector', 'Terraza'], @empresa.tipo_avenida_calle), :prompt => "Urbanizacion/Barrio/Sector/Terraza")
            %td
            %td
              =f.text_field :urbanizacion_barrio_sector
              
          %tr
            %td
              ESTADO
            %td
            %td
              =f.collection_select :id_estado_ean, Estado.find(:all, :order => "nombre ASC"), :id, :nombre, :prompt => "-Seleccione-"

              
          %tr
            %td
              CIUDAD
            %td
            %td
              
              =f.collection_select :id_ciudad_ean, Ciudad.find(:all, :order => "nombre ASC"), :id, :nombre, :prompt => "-Seleccione-"
              
              
          %tr
            %td
              MUNICIPIO
            %td
            %td
              
              =f.collection_select :id_municipio_ean, Municipio.find(:all, :order => "nombre ASC"), :id, :nombre, :prompt => "-Seleccione-"
              
          %tr
            %td
              PARROQUIA
            %td
            %td
              
              =f.text_field :parroquia_ean
              
          %tr
            %td
              Punto Referencia
            %td
            %td
              
              =f.text_field :punto_ref_ean
          %tr
            %td
              Código Postal
            %td
            %td
              
              =f.text_field :cod_postal_ean
          %tr
            %td
              Teléfono 1 (58)
            %td
              =f.text_field :cod_tlf1_ean, :placeholder => "212", :size => "3"
            %td
              
              =f.text_field :telefono1_ean, :class => "formato_telefono"

          %tr
            %td
              Teléfono 2 (58)
            %td
              =f.text_field :cod_tlf2_ean, :placeholder => "212", :size => "3"
            %td
              
              =f.text_field :telefono2_ean, :class => "formato_telefono"

          %tr
            %td
              Teléfono 3 (58)
            %td
              =f.text_field :cod_tlf3_ean, :placeholder => "212", :size => "3"
            %td
              
              =f.text_field :telefono3_ean, :class => "formato_telefono"
          %tr
            %td
              Fax (58)
            %td
              =f.text_field :cod_fax_ean, :placeholder => "212", :size => "3"
            %td
              
              =f.text_field :fax_ean, :class => "formato_telefono"
          %tr
            %td
              E-mail 1
            %td
            %td
              
              =f.text_field :email1_ean,  :class => "email"
            
          %tr
            %td
              E-mail 2
            %td
            %td
              
              =f.text_field :email2_ean, :class => "email"
      
      %br
      %label.contexto
        b. DIRECCION PARA ENVIO DE CORRESPONDENCIA DE COMERCIO ELECTRONICO Y SINCRONET
      %hr.contexto{:size => "1"}

        %table
          %tr
            %td
              NOMBRE PERSONA CONTACTO
            %td
            %td
              =f.text_field :rep_edi
          %tr
            %td
              CARGO
            %td
            %td
              =f.text_field :rep_edi_cargo
          
          %tr
            %td
              =f.select(:tipo_galpon_edificio_quinta_sincronet, options_for_select(['Galpón', 'Edificio', 'Quinta'], @empresa.tipo_galpon_edificio_quinta_sincronet), :prompt => "Galpón/Edificio/Quinta")
            %td
            %td
              =f.text_field :galpon_edificio_quinta_sincronet
          
          %tr
            %td
              =f.select(:tipo_piso_numero_sincronet, options_for_select(['Número', 'Piso'], @empresa.tipo_piso_numero_sincronet), :prompt => "Número/Piso")
            %td
            %td
              =f.text_field :piso_numero_sincronet

          %tr
            %td
              =f.select(:tipo_oficina_apartamento_sincronet, options_for_select(['Apartamento', 'Oficina'], @empresa.tipo_oficina_apartamento_sincronet), :prompt => "Apartamento/Oficina")
            %td
            %td
              =f.text_field :oficina_apartamento_sincronet
          %tr
            %td
              =f.select(:tipo_avenida_calle_sincronet, options_for_select(['Avenida', 'Calle'], @empresa.tipo_avenida_calle_sincronet), :prompt => "Avenida/Calle")
            %td
            %td
              =f.text_field :avenida_calle_sincronet

          %tr
            %td
              =f.select(:tipo_urbanizacion_barrio_sector_sincronet, options_for_select(['Urbanizacion', 'Barrio', 'Sector', 'Terraza'], @empresa.tipo_avenida_calle_sincronet), :prompt => "Urbanizacion/Barrio/Sector/Terraza")
            %td
            %td
              =f.text_field :urbanizacion_barrio_sector_sincronet
             
          %tr
            %td
              ESTADO
            %td
            %td
              
              =f.collection_select :id_estado_edi, Estado.find(:all, :order => "nombre ASC"), :id, :nombre, :prompt => "-Seleccione-"
                
          %tr
            %td
              CIUDAD
            %td
            %td
              = f.collection_select :id_ciudad_edi, Ciudad.find(:all, :order => "nombre ASC"), :id, :nombre, :prompt => "-Seleccione-"
              
          %tr
            %td
              MUNICIPIO
            %td
            %td
              = f.collection_select :id_municipio_edi, Municipio.find(:all, :order => "nombre ASC"), :id, :nombre, :prompt => "-Seleccione-"
              
          %tr
            %td
              PARROQUIA
            %td
            %td
              =f.text_field :parroquia_edi
              
          %tr
            %td
              Punto Referencia
            %td
            %td
              =f.text_field :punto_ref_edi
          %tr
            %td
              Código Postal
            %td
            %td
              = f.text_field :codigo_postal_edi

          %tr
            %td
              Teléfono 1 (58)
            %td
              =f.text_field :cod_tlf1_sincronet, :placeholder => "212", :size => "3"
            %td
              =f.text_field :telefono1_edi
          %tr
            %td
              Teléfono 2 (58)
            %td
              =f.text_field :cod_tlf2_sincronet, :placeholder => "212", :size => "3"
            %td
              =f.text_field :telefono2_edi
          %tr
            %td
              Teléfono 3 (58)
            %td
              =f.text_field :cod_tlf3_sincronet, :placeholder => "212", :size => "3"
            %td
              =f.text_field :telefono3_edi
          %tr
            %td
              Fax (58)
            %td
              =f.text_field :cod_fax_sincronet, :placeholder => "212", :size => "3"
            %td
              =f.text_field :fax_edi
          %tr
            %td
              E-mail 1
            %td
            %td
              =f.text_field :email1_edi, :class => "email"
            
          %tr
            %td
              E-mail 2
            %td
            %td
              =f.text_field :email2_edi, :class => "email"
      
      %br/

      %br
      %label.contexto
        c. DIRECCION PARA ENVIO DE INFORMACION SOBRE SEMINARIOS Y CURSOS (RECURSOS HUMANOS)
      %hr.contexto{:size => "1"}

        %table
          %tr
            %td
              NOMBRE PERSONA CONTACTO
            %td
            %td
              =f.text_field :rep_recursos
          %tr
            %td
              CARGO
            %td
            %td
              =f.text_field :rep_recursos_cargo
          %tr
            %td
              =f.select(:tipo_galpon_edificio_quinta_seminarios, options_for_select(['Galpón', 'Edificio', 'Quinta'], @empresa.tipo_galpon_edificio_quinta_seminarios), :prompt => "Galpón/Edificio/Quinta")
            %td
            %td
              =f.text_field :galpon_edificio_quinta_seminarios
          
          %tr
            %td
              =f.select(:tipo_piso_numero_seminarios, options_for_select(['Número', 'Piso'], @empresa.tipo_piso_numero_seminarios), :prompt => "Número/Piso")
            %td
            %td
              =f.text_field :piso_numero_seminarios

          %tr
            %td
              =f.select(:tipo_oficina_apartamento_seminarios, options_for_select(['Apartamento', 'Oficina'], @empresa.tipo_oficina_apartamento_seminarios), :prompt => "Apartamento/Oficina")
            %td
            %td
              =f.text_field :oficina_apartamento_seminarios
          %tr
            %td
              =f.select(:tipo_avenida_calle_seminarios, options_for_select(['Avenida', 'Calle'], @empresa.tipo_avenida_calle_seminarios), :prompt => "Avenida/Calle")
            %td
            %td
              =f.text_field :avenida_calle_seminarios

          %tr
            %td
              =f.select(:tipo_urbanizacion_barrio_sector_seminarios, options_for_select(['Urbanizacion', 'Barrio', 'Sector', 'Terraza'], @empresa.tipo_avenida_calle_seminarios), :prompt => "Urbanizacion/Barrio/Sector/Terraza")
            %td
            %td
              =f.text_field :urbanizacion_barrio_sector_seminarios

          %tr
            %td
              ESTADO
            %td
            %td
              
              =f.collection_select :id_estado_recursos, Estado.find(:all, :order => "nombre ASC"), :id, :nombre, :prompt => "-Seleccione-"
                
          %tr
            %td
              CIUDAD
            %td
            %td
              = f.collection_select :id_ciudad_recursos, Ciudad.find(:all, :order => "nombre ASC"), :id, :nombre, :prompt => "-Seleccione-"
              
          %tr
            %td
              MUNICIPIO
            %td
            %td
              = f.collection_select :id_municipio_recursos, Municipio.find(:all, :order => "nombre ASC"), :id, :nombre, :prompt => "-Seleccione-"
              
          %tr
            %td
              PARROQUIA
            %td
            %td
              =f.text_field :parroquia_recursos
              
          %tr
            %td
              Punto Referencia
            %td
            %td
              =f.text_field :punto_ref_recursos
          %tr
            %td
              Código Postal
            %td
            %td
              = f.text_field :codigo_postal_recursos

          %tr
            %td
              Teléfono 1 (58)
            %td
              =f.text_field :cod_tlf1_seminarios, :placeholder => "212", :size => "3"
            %td
              =f.text_field :telefono1_recursos, :class => "formato_telefono"

          %tr
            %td
              Teléfono 2 (58)
            %td
              =f.text_field :cod_tlf2_seminarios, :placeholder => "212", :size => "3"
            
            %td
              =f.text_field :telefono2_recursos, :class => "formato_telefono"

          %tr
            %td
              Teléfono 3 (58)
            %td
              =f.text_field :cod_tlf3_seminarios, :placeholder => "212", :size => "3"  
            %td
              =f.text_field :telefono3_recursos, :class => "formato_telefono"
              
          %tr
            %td
              Fax (58)
            %td
              =f.text_field :cod_fax_seminarios, :placeholder => "212", :size => "3"
            %td
              =f.text_field :fax_recursos, :class => "formato_telefono"
          %tr
            %td
              E-mail 1
            %td
            %td
              =f.text_field :email1_recursos, :class => "email"
          %tr
            %td
              E-mail 2
            %td
            %td
              =f.text_field :email2_recursos, :class => "email"

      %br
      %label.contexto
        d. DIRECCION PARA ENVIO DE INVITACIONES A EVENTOS ESPECIALES (MERCADEO)
      %hr.contexto{:size => "1"}

        %table
          %tr
            %td
              NOMBRE PERSONA CONTACTO
            %td
            %td
              =f.text_field :rep_mercadeo
          %tr
            %td
              CARGO
            %td
            %td
              =f.text_field :rep_mercadeo_cargo
          %tr
            %td
              =f.select(:tipo_galpon_edificio_quinta_mercadeo, options_for_select(['Galpón', 'Edificio', 'Quinta'], @empresa.tipo_galpon_edificio_quinta_mercadeo), :prompt => "Galpón/Edificio/Quinta")
            %td
            %td
              =f.text_field :galpon_edificio_quinta_mercadeo
          
          %tr
            %td
              =f.select(:tipo_piso_numero_mercadeo, options_for_select(['Número', 'Piso'], @empresa.tipo_piso_numero_mercadeo), :prompt => "Número/Piso")
            %td
            %td
              =f.text_field :piso_numero_mercadeo

          %tr
            %td
              =f.select(:tipo_oficina_apartamento_mercadeo, options_for_select(['Apartamento', 'Oficina'], @empresa.tipo_oficina_apartamento_mercadeo), :prompt => "Apartamento/Oficina")
            %td
            %td
              =f.text_field :oficina_apartamento_mercadeo
          %tr
            %td
              =f.select(:tipo_avenida_calle_mercadeo, options_for_select(['Avenida', 'Calle'], @empresa.tipo_avenida_calle_mercadeo), :prompt => "Avenida/Calle")
            %td
            %td
              =f.text_field :avenida_calle_mercadeo

          %tr
            %td
              =f.select(:tipo_urbanizacion_barrio_sector_mercadeo, options_for_select(['Urbanizacion', 'Barrio', 'Sector', 'Terraza'], @empresa.tipo_avenida_calle_mercadeo), :prompt => "Urbanizacion/Barrio/Sector/Terraza")
            %td
            %td
              =f.text_field :urbanizacion_barrio_sector_mercadeo

          %tr
            %td
              ESTADO
            %td
            %td
              
              =f.collection_select :id_estado_mercadeo, Estado.find(:all, :order => "nombre ASC"), :id, :nombre, :prompt => "-Seleccione-"
                
          %tr
            %td
              CIUDAD
            %td
            %td
              = f.collection_select :id_ciudad_mercadeo, Ciudad.find(:all, :order => "nombre ASC"), :id, :nombre, :prompt => "-Seleccione-"
              
          %tr
            %td
              MUNICIPIO
            %td
            %td
              = f.collection_select :id_municipio_mercadeo, Municipio.find(:all, :order => "nombre ASC"), :id, :nombre, :prompt => "-Seleccione-"
              
          %tr
            %td
              PARROQUIA
            %td
            %td
              =f.text_field :parroquia_mercadeo
              
          %tr
            %td
              Punto Referencia
            %td
            %td
              =f.text_field :punto_ref_mercadeo
          %tr
            %td
              Código Postal
            %td
            %td
              = f.text_field :codigo_postal_mercadeo
          %tr
            %td
              Teléfono 1 (58)
            %td
              =f.text_field :cod_tlf1_mercadeo, :placeholder => "212", :size => "3"
            %td
              =f.text_field :telefono1_mercadeo, :class => "formato_telefono"
          %tr
            %td
              Teléfono 2 (58)
            %td
              =f.text_field :cod_tlf2_mercadeo, :placeholder => "212", :size => "3"
            %td
              =f.text_field :telefono2_mercadeo, :class => "formato_telefono"
          %tr
            %td
              Teléfono 3 (58)
            %td
              =f.text_field :cod_tlf3_mercadeo, :placeholder => "212", :size => "3"
            %td
              =f.text_field :telefono3_mercadeo, :class => "formato_telefono"
              
          %tr
            %td
              Fax (58)
            %td
              =f.text_field :cod_fax_mercadeo, :placeholder => "212", :size => "3"
            %td
              =f.text_field :fax_mercadeo, :class => "formato_telefono"
              
          %tr
            %td
              E-mail 1
            %td 
            %td
              =f.text_field :email1_mercadeo, :class => "email"
          %tr
            %td
              E-mail 2
            %td
            %td
              =f.text_field :email2_mercadeo, :class => "email"


      %label.contexto
        =@empresa.new_record? ? "Ramo de desempeño de la empresa" : @empresa.nombre_empresa + " > Ramo de desempeño de la empresa"
      %hr.contexto{:size => "1"}

      %table
        %tr
          %td
            Clasificación
          %td
            -if @empresa.new_record? or @clasificacion_empresa.nil?
              =f.collection_select(:id_clasificacion, Clasificacion.find(:all), :id, :clasificacion, {:prompt => "-Seleccione Clasificación"}, { :style => "width:600px;"})
            -else
              =f.collection_select(:id_clasificacion, Clasificacion.find(:all), :id, :clasificacion,  { :selected => @clasificacion_empresa.id,:style => "width:600px;"})
            
        %tr
          %td
            Categoría 
          %td
            = f.text_field :categoria, :readonly => :true, :class => 'campo_readonly'
        %tr
          %td
            División
          %td
            = f.text_field :division , :readonly => :true, :class => 'campo_readonly'
        %tr
          %td
            Grupo
          %td
            = f.text_field :grupo , :readonly => :true, :class => 'campo_readonly'
        %tr
          %td
            Clase
          %td
            = f.text_field :clase, :readonly => :true, :class => 'campo_readonly'

      
      %button#submit.ui-state-default.ui-corner-all.crear_empresa{:type => "submit"}
        %span.ui-icon.ui-icon-circle-plus
        Guardar

      -if params[:activacion]
        %a.ui-state-default.ui-corner-all.nuevo_contacto{:href => "/empresas?activacion=true", :title => "Regresar al listado general de empresas NO VALIDADAS"}
          %span.ui-icon.ui-icon-arrowreturnthick-1-w
          Regresar

      -else
        %a.ui-state-default.ui-corner-all.nuevo_contacto{:href => "/empresas", :title => "Regresar al listado general de empresas"}
          %span.ui-icon.ui-icon-arrowreturnthick-1-w
          Regresar
        

    
      


          
      






    

        

