%section.contexto
  %label.contexto 
    -if @empresa.new_record?
      Registar Empresa - Datos Básicos
    -else
      Editar Empresa - Datos Básicos
  %hr.contexto{:size => "1"}

  %section.formulario
    = form_for(@empresa) do |f| 
      -if @empresa.errors.any? 
        #error_explanation
          %h2= pluralize(@empresa.errors.count, "error")
          %ul
            -@empresa.errors.full_messages.each do |msg|
              %li= msg 
      %table
        %tr
          %td
            Prefijo
          %td
            -if @empresa.new_record?
              =f.text_field :prefijo , :value => "#{@ultimo.prefijo + 1}"
            -else
              =f.text_field :prefijo 

        %tr
          %td
            Nombre Empresa
          %td
            =f.text_field :nombre_empresa
        %tr
          %td
            Fecha Inscripción
          %td
            =f.text_field :fecha_inscripcion 
        %tr
          %td
            Dirección Empresa
          %td         
            =f.text_field :direccion_empresa
        %tr
          %td
            Estado
          %td
            = f.collection_select :id_estado, Estado.all, :id, :nombre, {:prompt => '-Seleccione Estado-'}
        %tr
          %td
            Ciudad
          %td
            = f.collection_select :id_ciudad, Ciudad.all, :id, :nombre, {:prompt => '-Seleccione Ciudad-'}
        %tr
          %td
            RIF
          %td
            = f.text_field :rif
      
      %br/

      %label.contexto
        Registrar Empresa  > Clasificación de la Empresa
      %hr.contexto{:size => "1"}

      %table
        %tr
          %td
            Nombre Comercial
          %td
            = f.text_field :nombre_comercial
        %tr
          %td
            Clasificación
          %td
            =f.collection_select :id_clasificacion, Clasificacion.all, :id, :descripcion, {}, { :style => "width:300px;"}
        %tr
          %td
            Categoría 
          %td
            = f.text_field :categoria, :disabled => true
        %tr
          %td
            División
          %td
            = f.text_field :division ,  :disabled => true
        %tr
          %td
            Grupo
          %td
            = f.text_field :grupo , :disabled => true
        %tr
          %td
            Clase
          %td
            = f.text_field :clase, :disabled => true

      %br/
      %label.contexto
        Registrar Empresa  > Datos de Contacto
      %hr.contexto{:size => "1"}

      %table
        %tr
          %td
            Tipo Usuario
          %td
            = f.text_field :id_tipo_usuario
        %tr
          %td
            Representante Legal
          %td
            =f.text_field :rep_legal
        %tr
          %td
            Cargo Rep. Legal
          %td
            = f.text_field :cargo_rep_legal
        
        =f.fields_for :correspondencia do |fa|
          %tr
            %td
              Representante Técnico
            %td
              = fa.text_field :rep_tecnico
          %tr
            %td
              Cargo Representante Técnico
            %td
              = fa.text_field :cargo_rep_tecnico
          %tr
            %td
              Edificio
            %td
              = fa.text_field :edificio
          %tr
            %td
              Calle
            %td
              = fa.text_field :calle
          %tr
            %td
              Urbanización
            %td
              = fa.text_field :urbanizacion
          %tr
            %td
              Estado
            %td
              =fa.collection_select :id_estado, Estado.all, :id, :nombre, {:prompt => '-Seleccione Estado-'}
          %tr
            %td
              Ciudad
            %td
              =fa.collection_select :id_ciudad,  Ciudad.all, :id, :nombre, {:prompt => '-Seleccione Estado-'}
          %tr
            %td
              Municipio
            %td
              =fa.text_field :id_municipio
          %tr
            %td
              Parroquia
            %td
              =fa.text_field :id_parroquia
          %tr
            %td
              Código Postal
            %td
              =fa.text_field :cod_postal
          %tr
            %td
              Punto de Referencia
            %td
              =fa.text_field :punto_referencia
      
      = f.submit "Crear Empresa"






    

        

