%section.contexto
  %label.contexto
    =@empresa.new_record? ? "Empresas > Datos Básicos" : @empresa.nombre_empresa + " > Datos Básicos"
  %hr.contexto{:size => "1"}

  %section.formulario
    = form_for(@empresa, :html => {:id => "formulario_crear_empresa"}) do |f|

      -if @empresa.errors.any? 
        #error_explanation
          %h2= pluralize(@empresa.errors.count, "errore")
          %ul
            // Customización de los mensajes de error para el formulario empresa
            -@empresa.errors.full_messages.each do |msg|
              -if msg == 'Id estado no puede estar en blanco'
                %li='Debe selecionar una opción para el Estado.'
              -elsif msg == 'Id ciudad no puede estar en blanco'
                %li='Debe selecionar una opción para la Ciudad.'
              -elsif msg == 'Id clasificación no puede estar en blanco'
                %li='Debe seleccionar una clasificación.'
              -elsif msg == 'Datos contacto contacto no puede estar en blanco'
                %li='El campo Contacto no puede estar en blanco.'
              -elsif msg == 'Datos contacto nombre contacto no puede estar en blanco'
                %li='El campo Nombre Contacto no puede estar en blanco.'
              -elsif msg == 'Datos contacto cargo contacto no puede estar en blanco'
                %li='El campo Cargo Contacto no puede estar en blanco.'
              -else
                %li=msg + '.'
              
      %table
        %tr
          %td
            Prefijo
          %td
            -if @empresa.new_record?
              =f.text_field :prefijo , :value => "#{@ultimo}", :readonly => :true, :class => 'campo_readonly'
            -else
              =f.text_field :prefijo, :readonly => :true, :class => 'campo_readonly'

        %tr
          %td
            Nombre Empresa
          %td
            =f.text_field :nombre_empresa
        %tr
          %td
            Fecha Inscripción
          %td
            = @empresa.new_record? ? f.text_field(:fecha_inscripcion) : f.text_field(:fecha_inscripcion, :readonly => :true, :value => "#{@empresa.fecha_inscripcion.strftime("%Y-%m-%d")}", :class => 'campo_readonly')
            
        %tr
          %td
            Dirección Empresa
          %td         
            =f.text_field :direccion_empresa
        %tr
          %td
            Estado
          %td
            = f.collection_select :id_estado, Estado.find(:all, :order => "nombre ASC"), :id, :nombre, {:prompt => '-Seleccione Estado-'}
        %tr
          %td
            Ciudad
          %td
            = f.collection_select :id_ciudad, Ciudad.find(:all, :order => "nombre ASC"), :id, :nombre, {:prompt => '-Seleccione Ciudad-'}
        
        %tr
          %td
            RIF
          %td
            = f.text_field :rif, :placeholder => "J-12548785-4"
      
      %br/

      %label.contexto
        =@empresa.new_record? ? "Empresas > Clasificación de la empresa" : @empresa.nombre_empresa + " > Clasificación de la empresa"
      %hr.contexto{:size => "1"}

      %table
        %tr
          %td
            Nombre Comercial
          %td
            = f.text_field :nombre_comercial
        %tr
          %td
            Clasificación
          %td
            -if @empresa.new_record?
              =f.collection_select(:id_clasificacion, Clasificacion.find(:all), :id, :clasificacion, {:prompt => "-Seleccione Clasificación"}, { :style => "width:600px;"})
            -else
              =f.collection_select(:id_clasificacion, Clasificacion.find(:all), :id, :clasificacion, {:prompt => "-Seleccione Clasificación"}, { :style => "width:600px;"})
             
            /=@empresa.new_record? ?  : f.text_field(:id_clasificacion, :value => "#{@empresa.try(:clasificacion).try(:descripcion)}", :readonly => :true, :style => "width:550px;")
            
        %tr
          %td
            Categoría 
          %td
            = f.text_field :categoria, :readonly => :true, :class => 'campo_readonly'
        %tr
          %td
            División
          %td
            = f.text_field :division , :readonly => :true, :class => 'campo_readonly'
        %tr
          %td
            Grupo
          %td
            = f.text_field :grupo , :readonly => :true, :class => 'campo_readonly'
        %tr
          %td
            Clase
          %td
            = f.text_field :clase, :readonly => :true, :class => 'campo_readonly'

      %br/
      %label.contexto
        =@empresa.new_record? ? "Empresas > Datos de contacto" : @empresa.nombre_empresa + " > Datos de contacto"
      %hr.contexto{:size => "1"}
      
      // Si la empresa es nueva se genera un formulario para crear un contacto, sino  muestra el enlace para ir al listadop de los contactos
      -if @empresa.new_record?
        =f.fields_for :datos_contacto do |fc|
          %table
            
            %tr
              %td
                Nombre del contacto
              %td
                =fc.text_field :nombre_contacto
            %tr
              %td
                Cargo del contacto
              %td
                =fc.text_field :cargo_contacto
            %tr
              %td
                Tipo Contacto
              %td
                =@empresa.new_record? ? fc.text_field(:tipo, :value => 'PRINCIPAL (Rep. Legal)', :readonly => :true, :class => "campo_readonly") : fc.select(:tipo, options_for_select(['email', 'fax', 'opcional', 'principal', 'secundario']),{:prompt => "- Seleccione -"})
            %tr
              %td
                Teléfono del contacto
              %td
                =fc.text_field :contacto, :placeholder => "Ej.: 04168035284"
             
                 
      -else
        =render 'datos_contacto'
      %br/
      %label.contexto
        Registrar Empresa  > Datos de Correspondencia
      %hr.contexto{:size => "1"}  
        =f.fields_for :correspondencia do |fa|
          %table
            %tr
              %td
                Representante Técnico
              %td
                = fa.text_field :rep_tecnico
            %tr
              %td
                Cargo Representante Técnico
              %td
                = fa.text_field :cargo_rep_tecnico
            %tr
              %td
                Edificio
              %td
                = fa.text_field :edificio
            %tr
              %td
                Calle
              %td
                = fa.text_field :calle
            %tr
              %td
                Urbanización
              %td
                = fa.text_field :urbanizacion
            %tr
              %td
                Estado
              %td
                =fa.collection_select :id_estado, Estado.find(:all, :order => "nombre ASC"), :id, :nombre, {:prompt => '-Seleccione Estado-'}
            %tr
              %td
                Ciudad
              %td
                =fa.collection_select :id_ciudad,  Ciudad.find(:all, :order => "nombre ASC"), :id, :nombre, {:prompt => '-Seleccione Ciudad-'}
            %tr
              %td
                Municipio
              %td
                =fa.collection_select :id_municipio,  Municipio.find(:all, :order => "nombre ASC"), :id, :nombre, {:prompt => '-Seleccione Municipio-'}
            %tr
              %td
                Parroquia
              %td
                /=fa.text_field :id_parroquia
                =fa.text_field :nombre_parroquia
            %tr
              %td
                Código Postal
              %td
                =fa.text_field :cod_postal
            %tr
              %td
                Punto de Referencia
              %td
                =fa.text_field :punto_referencia
      
      %button#submit.ui-state-default.ui-corner-all.crear_empresa{:type => "submit"}
        %span.ui-icon.ui-icon-circle-plus
        Guardar

      %a.ui-state-default.ui-corner-all.nuevo_contacto{:href => "/empresas", :title => "Regresar al listado general de empresas"}
        %span.ui-icon.ui-icon-arrowreturnthick-1-w
        Regresar

      






    

        

