%section.contexto
  %label.contexto= "#{@empresa.prefijo} > " + @empresa.nombre_empresa + " > Datos"
  %hr.contexto{:size => "1"}

%section#areaTrabajo.areaTrabajo{:style => "font: 82.5% 'Trebuchet MS', sans-serif"}
 
  %br
  %br
  %table
    %tr
      %td
        Prefijo
      %td
        =@empresa.prefijo
    %tr
      %td
        Tipo Usuario
      %td
        =@empresa.try(:tipo_usuario_empresa).try(:descripcion)

    %tr
      %td
        Nombre Empresa
      %td
        = @empresa.nombre_empresa

    %tr
      %td
        Estado
      %td
        = @estado.try(:nombre)

    %tr
      %td
        Ciudad
      %td
        = @ciudad.try(:nombre)

    
    %tr
      %td
        Fecha Activación
      %td
        =@empresa.try(:fecha_activacion).strftime("%Y-%m-%d") 
    %tr
      %td
        Dirección Fiscal
      %td
        = @empresa.direccion_empresa
   
    %tr
      %td
        RIF
      %td
        = @empresa.rif
    %tr
      %td
        Estatus
      %td
        =@empresa.try(:estatus).try(:descripcion)
    
      
    %tr
      %td
        Rep Legal
      %td
        = @empresa.rep_legal
    %tr
      %td
        Cargo Rep Legal
      %td
        = @empresa.cargo_rep_legal
  
    %tr
      %td
        Clasificación
      %td
        = @clasificacion.try(:descripcion)
    %tr
      %td
        Categoría
      %td
        = @empresa.try(:categoria)
    %tr
      %td
        División
      %td
        =@empresa.try(:division)
    %tr
      %td
        Grupo
      %td
        =@empresa.try(:grupo)
    %tr
      %td
        Clase
      %td
        =@empresa.try(:clase)
  / %br
  / %br
  / %label.contexto=@empresa.nombre_empresa +   " > Datos de Contacto"
  / %hr.contexto{:size => "1"}
  / %br
  / -if params[:editar]
  /   =render 'datos_contacto'
  / -else
  /   =render 'datos_contacto_no_editable'

  / %label.contexto=@empresa.nombre_empresa + " > Datos Correspondencia"
  / %hr.contexto{:size => "1"}
  / %br

  / %table
  /   %tr
  /     %td
  /       Representante Técnico
  /     %td
  /       =@correspondencia.try(:rep_tecnico)
  /   %tr
  /     %td
  /       Cargo Rep Técnico
  /     %td
  /       =@correspondencia.try(:cargo_rep_tecnico)
  /   %tr
  /     %td
  /       Edificio
  /     %td
  /       =@correspondencia.try(:edificio)
  /   %tr
  /     %td
  /       Calle
  /     %td
  /       =@correspondencia.try(:calle)
  /   %tr
  /     %td
  /       Urbanización
  /     %td
  /       =@correspondencia.try(:urbanizacion)
  /   %tr
  /     %td
  /       Estado
  /     %td
  /       =@correspondencia.try(:estado).try(:nombre)
    
  /   %tr
  /     %td
  /       Ciudad
  /     %td
  /       =@correspondencia.try(:ciudad).try(:nombre)
  /   %tr
  /     %td
  /       Municipio
  /     %td
  /       =@correspondencia.try(:municipio).try(:nombre)
  /   %tr
  /     %td
  /       Parroquia
  /     %td
  /       =@correspondencia.try(:nombre_parroquia)
  /   %tr
  /     %td
  /       Código Postal
  /     %td
  /       =@correspondencia.try(:cod_postal)
  /   %tr
  /     %td
  /       Punto Referencia
  /     %td
  /       =@correspondencia.try(:punto_referencia)
  %br
  %br
  %br
  
  %a.ui-state-default.ui-corner-all.regresar{:href => "javascript:window.history.back()"}
    %span.ui-icon.ui-icon-arrowreturnthick-1-w
    Regresar
  

