%p#notice= notice

%p
  %b Nombre empresa:
  = @empresa_registrada.nombre_empresa
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Fecha inscripcion:
  = @empresa_registrada.fecha_inscripcion
%p
  %b Datetime,:
  = @empresa_registrada.datetime,
%p
  %b Direccion empresa:
  = @empresa_registrada.direccion_empresa
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Id estado:
  = @empresa_registrada.id_estado
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Id ciudad:
  = @empresa_registrada.id_ciudad
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Rif:
  = @empresa_registrada.rif
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Id estatus:
  = @empresa_registrada.id_estatus
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Id tipo usuario:
  = @empresa_registrada.id_tipo_usuario
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Nombre comercial:
  = @empresa_registrada.nombre_comercial
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Id clasificacion:
  = @empresa_registrada.id_clasificacion
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Categoria:
  = @empresa_registrada.categoria
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Division:
  = @empresa_registrada.division
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Grupo:
  = @empresa_registrada.grupo
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Clase:
  = @empresa_registrada.clase
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Rep legal:
  = @empresa_registrada.rep_legal
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Cargo rep legal:
  = @empresa_registrada.cargo_rep_legal
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Circunscripcion judicial:
  = @empresa_registrada.circunscripcion_judicial
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Numero registro mercantil:
  = @empresa_registrada.numero_registro_mercantil
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Tomo registro mercantil:
  = @empresa_registrada.tomo_registro_mercantil
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Nacionalidad responsable legal:
  = @empresa_registrada.nacionalidad_responsable_legal
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Domicilio responsable legal:
  = @empresa_registrada.domicilio_responsable_legal
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Cedula responsable legal:
  = @empresa_registrada.cedula_responsable_legal
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Ventas brutas anuales:
  = @empresa_registrada.ventas_brutas_anuales
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Aporte mantenimiento:
  = @empresa_registrada.aporte_mantenimiento
%p
  %b Float,:
  = @empresa_registrada.float,
%p
  %b Fecha registro mercantil:
  = @empresa_registrada.fecha_registro_mercantil
%p
  %b Datetime,:
  = @empresa_registrada.datetime,
%p
  %b Id parroquia empresa:
  = @empresa_registrada.id_parroquia_empresa
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Parroquia empresa:
  = @empresa_registrada.parroquia_empresa
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Contacto tlf2:
  = @empresa_registrada.contacto_tlf2
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Contacto tlf3:
  = @empresa_registrada.contacto_tlf3
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Contacto fax:
  = @empresa_registrada.contacto_fax
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Contacto email1:
  = @empresa_registrada.contacto_email1
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Contacto email2:
  = @empresa_registrada.contacto_email2
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Fecha ultima modificacion:
  = @empresa_registrada.fecha_ultima_modificacion
%p
  %b Datetime,:
  = @empresa_registrada.datetime,
%p
  %b Rep ean cargo:
  = @empresa_registrada.rep_ean_cargo
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Direccion ean1:
  = @empresa_registrada.direccion_ean1
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Direccion ean2:
  = @empresa_registrada.direccion_ean2
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Direccion ean3:
  = @empresa_registrada.direccion_ean3
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Direccion ean4:
  = @empresa_registrada.direccion_ean4
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Punto ref ean:
  = @empresa_registrada.punto_ref_ean
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Id estado ean:
  = @empresa_registrada.id_estado_ean
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Id ciudad ean:
  = @empresa_registrada.id_ciudad_ean
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Id parroquia ean:
  = @empresa_registrada.id_parroquia_ean
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Parroquia ean:
  = @empresa_registrada.parroquia_ean
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Cod postal ean:
  = @empresa_registrada.cod_postal_ean
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Codigo postal empresa:
  = @empresa_registrada.codigo_postal_empresa
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Telefono1 ean:
  = @empresa_registrada.telefono1_ean
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Telefono2 ean:
  = @empresa_registrada.telefono2_ean
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Telefono3 ean:
  = @empresa_registrada.telefono3_ean
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Fax ean:
  = @empresa_registrada.fax_ean
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Email1 ean:
  = @empresa_registrada.email1_ean
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Email2 ean:
  = @empresa_registrada.email2_ean
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Rep edi:
  = @empresa_registrada.rep_edi
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Rep edi cargo:
  = @empresa_registrada.rep_edi_cargo
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Direccion edi1:
  = @empresa_registrada.direccion_edi1
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Direccion edi2:
  = @empresa_registrada.direccion_edi2
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Direccion edi3:
  = @empresa_registrada.direccion_edi3
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Id ciudad edi:
  = @empresa_registrada.id_ciudad_edi
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Punto ref edi:
  = @empresa_registrada.punto_ref_edi
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Codigo postal edi:
  = @empresa_registrada.codigo_postal_edi
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Telefono1 edi:
  = @empresa_registrada.telefono1_edi
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Telefono2 edi:
  = @empresa_registrada.telefono2_edi
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Telefono3 edi:
  = @empresa_registrada.telefono3_edi
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Fax edi:
  = @empresa_registrada.fax_edi
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Email1 edi:
  = @empresa_registrada.email1_edi
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Id municipio ean:
  = @empresa_registrada.id_municipio_ean
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Id municipio edi:
  = @empresa_registrada.id_municipio_edi
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Id parroquia edi:
  = @empresa_registrada.id_parroquia_edi
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Rep mercadeo:
  = @empresa_registrada.rep_mercadeo
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Rep mercadeo cargo:
  = @empresa_registrada.rep_mercadeo_cargo
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Direccion mercadeo1:
  = @empresa_registrada.direccion_mercadeo1
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Direccion mercadeo2:
  = @empresa_registrada.direccion_mercadeo2
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Direccion mercadeo3:
  = @empresa_registrada.direccion_mercadeo3
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Punto referencia mercadeo:
  = @empresa_registrada.punto_referencia_mercadeo
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Id ciudad mercadeo:
  = @empresa_registrada.id_ciudad_mercadeo
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Codigo postal mercadeo:
  = @empresa_registrada.codigo_postal_mercadeo
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Telefono1 mercadeo:
  = @empresa_registrada.telefono1_mercadeo
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Telefono2 mercadeo:
  = @empresa_registrada.telefono2_mercadeo
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Fax mercadeo:
  = @empresa_registrada.fax_mercadeo
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Email mercadeo:
  = @empresa_registrada.email_mercadeo
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Id municipio mercadeo:
  = @empresa_registrada.id_municipio_mercadeo
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Rep recursos:
  = @empresa_registrada.rep_recursos
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Rep recursos cargo:
  = @empresa_registrada.rep_recursos_cargo
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Direccion recursos1:
  = @empresa_registrada.direccion_recursos1
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Direccion recursos2:
  = @empresa_registrada.direccion_recursos2
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Direccion recursos3:
  = @empresa_registrada.direccion_recursos3
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Punto referencia recursos:
  = @empresa_registrada.punto_referencia_recursos
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Id ciudad recursos:
  = @empresa_registrada.id_ciudad_recursos
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Codigo postal recursos:
  = @empresa_registrada.codigo_postal_recursos
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Telefono1 recursos:
  = @empresa_registrada.telefono1_recursos
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Telefono2 recursos:
  = @empresa_registrada.telefono2_recursos
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Fax recursos:
  = @empresa_registrada.fax_recursos
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Email recursos:
  = @empresa_registrada.email_recursos
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Id municipio recursos:
  = @empresa_registrada.id_municipio_recursos
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Id parroquia recursos:
  = @empresa_registrada.id_parroquia_recursos
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Parroquia recursos:
  = @empresa_registrada.parroquia_recursos
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Punto referencia empresa:
  = @empresa_registrada.punto_referencia_empresa
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Contacto tlf1:
  = @empresa_registrada.contacto_tlf1
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Rep ean:
  = @empresa_registrada.rep_ean
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Codigo upc:
  = @empresa_registrada.codigo_upc
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Parroquia edi:
  = @empresa_registrada.parroquia_edi
%p
  %b String,:
  = @empresa_registrada.string,
%p
  %b Id estado edi:
  = @empresa_registrada.id_estado_edi
%p
  %b Integer,:
  = @empresa_registrada.integer,
%p
  %b Direccion ean:
  = @empresa_registrada.direccion_ean
%p
  %b Text,:
  = @empresa_registrada.text,
%p
  %b Direccion edi:
  = @empresa_registrada.direccion_edi
%p
  %b Text,:
  = @empresa_registrada.text,
%p
  %b Direccion mercadeo:
  = @empresa_registrada.direccion_mercadeo
%p
  %b Text,:
  = @empresa_registrada.text,
%p
  %b Direccion recursos:
  = @empresa_registrada.direccion_recursos
%p
  %b Text,:
  = @empresa_registrada.text,
%p
  %b Pago inscripcion:
  = @empresa_registrada.pago_inscripcion
%p
  %b Integer:
  = @empresa_registrada.integer

= link_to 'Edit', edit_empresa_registrada_path(@empresa_registrada)
\|
= link_to 'Back', empresa_registradas_path
