%section.contexto
  %label.contexto 
    =@gln.new_record? ? (@empresa.nombre_empresa + " > Registrar GLN") : (@empresa.nombre_empresa + " > Editar GLN")
  %hr.contexto{:size => "1"}

  %section.formulario
    =form_for [@empresa, @gln] do |f|
      - if @gln.errors.any?
        #error_explanation
          %h2= "#{pluralize(@gln.errors.count, "errore")} "
          %ul
            - @gln.errors.full_messages.each do |msg|
              %li= msg
      %table
        -if (!@gln.new_record?)
          %tr
            %td
              GLN
            %td
              =f.text_field :gln , :value => "#{@gln.gln}", :disabled => "true", :class => "campo_readonly"
        %tr
          %td
            Tipo GLN
          %td
            - if @gln.new_record?
              =(f.collection_select :id_tipo_gln, TipoGln.find(:all, :conditions => ["nombre in (?)", ['Operativo', 'Físico']]), :id, :nombre, :prompt => '-Seleccione-') 
            -else
              =f.text_field :tipo_gln, :value => "#{@gln.tipo_gln.nombre}", :disabled => :true, :class => "campo_readonly"
        
        %tr
          %td
            Descripción
          %td
            = f.text_field :descripcion
        %tr
          %td
            Estado
          %td
            = f.collection_select :id_estado, Estado.find(:all, :order => "nombre ASC" ), :id, :nombre, :prompt => "-Seleccione-"
        %tr
          %td
            Municipio
          %td
            = f.collection_select :id_municipio, Municipio.find(:all, :order => "nombre ASC"), :id, :nombre, :prompt => "-Seleccione-"
        %tr
          %td
            Ciudad
          %td
            = f.collection_select :id_ciudad, Ciudad.find(:all, :order => "nombre ASC"), :id, :nombre, :prompt => "-Seleccione-"
        %tr
          %td
            Edificio
          %td
            = f.text_field :edificio
        %tr
          %td
            Calle
          %td
            = f.text_field :calle
        %tr
          %td
            Urbanización
          %td
            = f.text_field :urbanizacion
        %tr
          %td
            Punto Ref
          %td
            = f.text_field :punto_referencia
        %tr
          %td
            Código Postal
          %td
            = f.text_field :cod_postal, :placeholder => "1000"
      .actions
        %button#submit.ui-state-default.ui-corner-all.guardar_producto{:type => "submit", :title =>"Guardar datos del GLN"}
          %span.ui-icon.ui-icon-circle-minus
          Guardar
        %a.ui-state-default.ui-corner-all.regresar_empresas{:href => "/empresas/#{params[:empresa_id]}/glns", :title => "Regresar la listado de GLN"}
          %span.ui-icon.ui-icon-arrowreturnthick-1-w
          Regresar

        
