!!!
%html
	%head
		%title GS1 Venezuela - Administrativo
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		%div.banner
			=image_tag 'GS1-Header-1.png', :class => "logo-izq"
			=image_tag 'GS1-Header-3.png', :class => "logo-der"

		%section#identificador.identificador{:onclick => "displayDetallePerfil(event)"}
			
			%br
			%label.usuario
				=session[:usuario]
			%br
			%label.rol
				=session[:perfil]
			%br
			%label.rol
				=session[:gerencia]
			%br
			%label.rol
				=session[:cargo]

			%br
			%label.session
				=link_to 'Cerrar Sesión', logout_path, :class => "enlace_session", :title => "Cierra sesión"

		%section#menu.menu	
			.submenu Menú Administración

			-if ((params[:controller] == 'empresas' and params[:action] == 'index')) or ((params[:controller] == 'empresas' and params[:action] == 'new')) or ((params[:controller] == 'empresas' and params[:action] == 'show')) or ((params[:controller] == 'empresas' and params[:action] == 'edit'))

				%a.opcion{:href => "/empresas", :title => "Empresas Activas", :class => "ui-state-default ui-corner-all botones_menu"}
					%span.ui-icon.ui-icon-home
					&nbsp;Empresas

			-if params[:controller] == 'empresas' and params[:action] == 'index' and params[:activacion].nil? and params[:retirar].nil? and params[:eliminar].nil? and params[:eliminadas].nil? and params[:retiradas].nil? and params[:reactivar].nil?
				
				- if session[:gerencia] == 'Comercial' or session[:perfil] == 'Administrador'
				

					%a.opcion{:href => "/empresas/new", :title => "Opción para Crear Empresa", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-circle-plus
						&nbsp;Registrar
					
				- if session[:gerencia] == 'Administrativa' or session[:perfil] == 'Administrador' or session[:gerencia] == 'Estandares y Consultoría' or session[:perfil] == 'Super Usuario' or session[:gerencia] == 'Comercial' or session[:gerencia] == 'Administracion'
					
				
					%a.opcion{:href => "/empresas?activacion=true", :title => "Opción para Activar Empresas creadas", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-circle-check
						&nbsp;Activar / No Validada

				- if session[:gerencia] == 'Administrativa' or session[:perfil] == 'Administrador' 

					%a.opcion{:href => "/empresas?sub_estatus=true", :title => "Opción para modificar sub estatus administrativo", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-folder-open
						&nbsp;Sub Estatus 

				- if session[:gerencia] == 'Administrativa' or session[:perfil] == 'Administrador'
					/- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Retirar Empresa')
					%a.opcion{:href => "/empresas?retirar=true", :title => "Opción para retirar  Empresa", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-circle-minus
						&nbsp;Retirar Empresa
				- if session[:gerencia] == 'Administrativa' or session[:perfil] == 'Administrador'
					/- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Reactivar Empresa')
					%a.opcion{:href => "/empresas?reactivar=true", :title => "Opción que permite Reactivar Empresas Retiradas", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-refresh
						&nbsp;Reactivar Empresa
					
				
				-if session[:gerencia] == 'Estandares y Consultoría' or session[:perfil] == 'Super Usuario' or session[:perfil] == 'Administrador'
					%a.opcion{:href => "/empresas?retiradas=true", :title => "Opción para Listar Empresas Retiradas", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-folder-collapsed
						&nbsp;Empresas Retiradas
					
				- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Eliminar Empresa')
					%a.opcion{:href => "/empresas?eliminar=true", :title => "Opción para Eliminar Empresa", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-circle-close
						&nbsp;Eliminar Empresa
				
				-if session[:gerencia] == 'Estandares y Consultoría' or session[:perfil] == 'Super Usuario' or session[:perfil] == 'Administrador'
					%a.opcion{:href => "/empresas?eliminadas=true", :title => "Opción para Listar Empresas ELiminadas", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-trash
						&nbsp;Empresas Eliminadas

			-if params[:controller] != 'empresas'

				%a.opcion{:href => "/empresas", :title => "Listado de Empresas Activas", :class => "ui-state-default ui-corner-all botones_menu"}
					%span.ui-icon.ui-icon-home
					Empresas
					
			-if params[:controller] == 'productos' and params[:action] == 'index' and params[:retirar].nil? and params[:retirados].nil? and params[:eliminar].nil? and params[:eliminados].nil?
			

				- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Registrar Producto') 
					
					%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/productos/new", :title => "Crear producto", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-circle-plus
						Crear Producto

				- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Eliminar Producto') 
					
					%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/productos?eliminar=true", :title => "ELiminar productos", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-circle-close
						Eliminar Productos
				
					/ %a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/productos?eliminados=true", :title => "Listado de los productos eliminados", :class => "ui-state-default ui-corner-all botones_menu"}
					/ 	%span.ui-icon.ui-icon-trash
					/ 	Productos Eliminados

			-if params[:controller] == 'empresa_servicios' and params[:action] == 'index'  and params[:eliminar].nil? and params[:eliminados].nil?
				
				- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Registrar Servicio')
					
					%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/empresa_servicios/new", :title => "Opción que permite crear servicio",:class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-circle-plus
						Crear Servicio
				- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Eliminar Servicio')
					
					%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/empresa_servicios?eliminar=true", :title => "Opción que permite eliminar un servicio asociado",:class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-circle-minus
						Eliminar Servicios
				
					%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/empresa_servicios?eliminados=true", :title => "Lista los servicios eliminados",:class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-trash
						Servicios Eliminados

			-if params[:controller] == 'glns' and params[:action] == 'index'  and params[:eliminar].nil? and params[:eliminados].nil?
		
				%a.opcion{:href => "#{new_empresa_gln_path}", :title => "Opción que permite crear GLN",:class => "ui-state-default ui-corner-all botones_menu"}
					%span.ui-icon.ui-icon-circle-plus
					Crear GLN
			
				%a.opcion{:href => "#{empresa_glns_path}?eliminar=true", :title => "ELiminar GLN",:class => "ui-state-default ui-corner-all botones_menu"}
					%span.ui-icon.ui-icon-circle-minus
					Eliminar GLN
			
				%a.opcion{:href => "#{empresa_glns_path}?eliminados=true", :title => "GLN eliminados",:class => "ui-state-default ui-corner-all botones_menu"}
					%span.ui-icon.ui-icon-trash
					GLN Eliminados
			
			
			
			-if params[:controller] == 'empresas' and params[:action] == 'index' and params[:retirar].nil? and params[:retiradas].nil? and params[:eliminar].nil? and params[:eliminadas].nil? and params[:reactivar].nil? and params[:activacion].nil?

				- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Listar Usuario')
				
					%a.opcion{:href => "#{usuarios_path}", :title => "Usuarios registrados en el sistema",:class => "ui-state-default ui-corner-all botones_menu boton_usuario"}
						%span.ui-icon.ui-icon-person
						Usuarios

		= yield
		