!!!
%html
	%head
		%title GS1 Venezuela - Administrativo
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		%div.banner
			=image_tag 'GS1-Header-1.png', :class => "logo-izq"
			=image_tag 'GS1-Header-3.png', :class => "logo-der"

		/ %section#identificador.identificador{:onclick => "displayDetallePerfil(event)"}
		/ 	%label.usuario
		/ 		Usuario
		/ 	%label.actor
		/ 		Actor
		/ 	%label.rol
		/ 		Role

		/ %section#detallePerfil.detallePerfil{:onmouseout => "noDisplayDetallePerfil()", :onmouseover => "displayDetallePerfil(event)", :style => "display:none;"}
		/ 	.tituloFormulario Detalle del usuario
		/ 	=image_tag 'default_photo.png'
		/ 	%div
		/ 		%label.usuario
		/ 			Usuario
		/ 	%div
		/ 		%label.actor
		/ 			Actor
		/ 	.botonera
		/ 		%a.link{:href => "#{}"} Editar perfil
		/ 		%a.link{:href => "#{}"} Cerrar session

		%section#menu.menu	
			.submenu Administración
			%a.opcion{:href => "/empresas", :title => "Listado general de Empresas"}
				.opcion Empresas
				.opcion
					%ul
						%li 
							%a.opcion{:href => "/empresas/new", :title => "Opción para Crear Empresa"}
								.opcion Registrar
				.opcion
					%ul
						%li 
							%a.opcion{:href => "/empresas?activacion=true", :title => "Opción para Activar Empresas creadas"}
								.opcion Activar Empresa
				.opcion
					%ul
						%li 
							%a.opcion{:href => "/empresas?retirar=true", :title => "Opción para Retirar Empresa"}
								.opcion Retirar Empresa
				.opcion
					%ul
						%li 
							%a.opcion{:href => "/empresas?eliminar=true", :title => "Oción para Eliminar Empresa"}
								.opcion Eliminar Empresa
				.opcion
					%ul
						%li 
							%a.opcion{:href => "/empresas?retiradas=true", :title => "Opción para Listar Empresas Retiradas"}
								.opcion Empresas Retiradas
				.opcion
					%ul
						%li 
							%a.opcion{:href => "/empresas?eliminadas=true", :title => "Opción para Listar Empresas ELiminadas"}
								.opcion Empresas Eliminadas

			-if params[:controller] == 'productos'

				%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/productos", :title => "Listado de productos para la empresa seleccionada"}
					.opcion Productos
					.opcion
						%ul
							%li 
								%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/productos?retirar=true", :title => "Retirar uno o más productos"}
									.opcion Retirar Productos
					.opcion
						%ul
							%li 
								%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/productos?retirados=true", :title => "Listado de los productos retirados"}
									.opcion Productos Retirados
					.opcion
						%ul
							%li 
								%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/productos?eliminar=true", :title => "ELiminar productos"}
									.opcion Eliminar Productos
					.opcion
						%ul
							%li 
								%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/productos?eliminados=true", :title => "Listado de los productos eliminados"}
									.opcion Productos Eliminados

			-if params[:controller] == 'empresa_servicios'

				%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/empresa_servicios", :title => "Listado de Servicios para la empresa seleccionada"}
					.opcion Servicios
					.opcion
						%ul
							%li 
								%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/empresa_servicios?eliminar=true", :title => "ELiminar Servicios"}
									.opcion Eliminar Servicios
					.opcion
						%ul
							%li 
								%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/empresa_servicios?eliminados=true", :title => "Listado de los Servicios eliminados"}
									.opcion Servicios Eliminados


			
		= yield
		