!!!
%html
	%head
		%title GS1 Venezuela - Administrativo
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		%div.banner
			=image_tag 'GS1-Header-1.png', :class => "logo-izq"
			=image_tag 'GS1-Header-3.png', :class => "logo-der"

		%section#identificador.identificador{:onclick => "displayDetallePerfil(event)"}
			=image_tag 'user_photo.png'
			%br
			%label.usuario
				=session[:usuario]
			%br
			%label.rol
				=session[:perfil]
			%br
			%label.session
				=link_to 'Cerrar Sesión', logout_path, :class => "enlace_session", :title => "Cierra sesión"

		%section#menu.menu	
			.submenu Administración
			%a.opcion{:href => "/empresas", :title => "Listado de Empresas"}
				.opcion Empresas
				- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Registrar Empresa')
					.opcion
						%ul
							%li 
								%a.opcion{:href => "/empresas/new", :title => "Opción para Crear Empresa"}
									.opcion Registrar
				
				- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Validar Empresa')
					.opcion
						%ul
							%li 
								%a.opcion{:href => "/empresas?activacion=true", :title => "Opción para Activar Empresas creadas"}
									.opcion Activar Empresa
				- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Retirar Empresa')
					.opcion
						%ul
							%li 
								%a.opcion{:href => "/empresas?retirar=true", :title => "Opción para Retirar Empresa"}
									.opcion Retirar Empresa
				- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Eliminar Empresa')
					.opcion
						%ul
							%li 
								%a.opcion{:href => "/empresas?eliminar=true", :title => "Oción para Eliminar Empresa"}
									.opcion Eliminar Empresa
				.opcion
					%ul
						%li 
							%a.opcion{:href => "/empresas?retiradas=true", :title => "Opción para Listar Empresas Retiradas"}
								.opcion Empresas Retiradas
				.opcion
					%ul
						%li 
							%a.opcion{:href => "/empresas?eliminadas=true", :title => "Opción para Listar Empresas ELiminadas"}
								.opcion Empresas Eliminadas

			-if params[:controller] == 'productos'

				%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/productos", :title => "Listado de productos para la empresa seleccionada"}
					.opcion Productos
					- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Registrar Producto')
						.opcion
							%ul
								%li 
									%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/productos/new", :title => "Crear producto"}
										.opcion Crear Producto
					- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Retirar Producto')
						.opcion
							%ul
								%li 
									%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/productos?retirar=true", :title => "Retirar uno o más productos"}
										.opcion Retirar Productos
					.opcion
						%ul
							%li 
								%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/productos?retirados=true", :title => "Listado de los productos retirados"}
									.opcion Productos Retirados
					- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Eliminar Producto')
						.opcion
							%ul
								%li 
									%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/productos?eliminar=true", :title => "ELiminar productos"}
										.opcion Eliminar Productos
					.opcion
						%ul
							%li 
								%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/productos?eliminados=true", :title => "Listado de los productos eliminados"}
									.opcion Productos Eliminados

			-if params[:controller] == 'empresa_servicios'

				%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/empresa_servicios", :title => "Listado de Servicios para la empresa seleccionada"}
					.opcion Servicios
					- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Registrar Servicio')
						.opcion
							%ul
								%li 
									%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/empresa_servicios/new", :title => "Opción que permite crear servicio"}
										.opcion Crear Servicio
					- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Eliminar Servicio')
						.opcion
							%ul
								%li 
									%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/empresa_servicios?eliminar=true", :title => "ELiminar Servicios"}
										.opcion Eliminar Servicios
					.opcion
						%ul
							%li 
								%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/empresa_servicios?eliminados=true", :title => "Listado de los Servicios eliminados"}
									.opcion Servicios Eliminados

			-if params[:controller] == 'glns'
				%a.opcion{:href => "#{empresa_glns_path}", :title => "Listado de GLN para la empresa seleccionada"}
					.opcion GLN
					.opcion
						%ul
							%li 
								%a.opcion{:href => "#{new_empresa_gln_path}", :title => "Opción que permite crear GLN"}
									.opcion Crear GLN
					.opcion
						%ul
							%li 
								%a.opcion{:href => "#{empresa_glns_path}?eliminar=true", :title => "ELiminar GLN"}
									.opcion Eliminar GLN
					.opcion
						%ul
							%li 
								%a.opcion{:href => "#{empresa_glns_path}?eliminados=true", :title => "GLN eliminados"}
									.opcion GLN Eliminados
			.opcion
				=link_to 'Usuarios', usuarios_path, :class => "opcion", :title => "Usuarios registrados en la aplicación"
			- if UsuariosAlcance.verificar_alcance(session[:perfil], 'Registrar Usuario')
				.opcion
					%ul
						%li 
							%a.opcion{:href => "#{new_usuario_path}", :title => "Crear usuario"}
								.opcion Crear Usuario
				
		= yield
		