!!!
%html
	%head
		%title GS1 Venezuela - Administrativo
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		%div.banner
			=image_tag 'GS1-Header-1.png', :class => "logo-izq"
			=image_tag 'GS1-Header-3.png', :class => "logo-der"

		%section#identificador.identificador{:onclick => "displayDetallePerfil(event)"}
			
			%br
			%label.usuario
				=session[:usuario]
			%br
			%label.rol
				=session[:perfil]
			%br
			%label.rol
				=session[:gerencia]
			%br
			%label.rol
				=session[:cargo]

			%br
			%label.session
				=link_to 'Cerrar Sesión', logout_path, :class => "enlace_session", :title => "Cierra sesión"

		%section#menu.menu	
			
			%a.opcion{:href => "/empresas", :title => "Empresas Activas", :class => "ui-state-default ui-corner-all botones_menu"}
				%span.ui-icon.ui-icon-home
				&nbsp;Empresas Activas

			- if params[:controller] == 'empresas' or params[:controller] == 'empresa_registradas'

				-if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Empresas No Activas') 

					%a.opcion{:href => "/empresa_registradas", :title => "Opción para visualizar empresas que aún no se les ha asignado prefijo", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-folder-collapsed
						&nbsp;Empresas No Activas
				
				-if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Activar Empresa')

					%a.opcion{:href => "/empresa_registradas?activar_empresa=true", :title => "Opción para asignar Prefijo a Empresas Solventes", :class => "ui-state-default ui-corner-all botones_menu"}

						%span.ui-icon.ui-icon-check
						&nbsp;Activar / Reasignar Prefijo


				-if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Validar Empresa') 

					%a.opcion{:href => "/empresa_registradas?activar_solvencia=true", :title => "Opción para validar la Solvencia de las empresas", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-print
						&nbsp;Validar Solvencia


				-if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Registrar Empresa') 

					%a.opcion{:href => "/empresa_registradas/new", :title => "Opción para Registrar una nueva Empresa", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-circle-plus
						&nbsp;Registrar Empresa
				
				- if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia],'Retirar Empresa')
					%a.opcion{:href => "/empresas?retirar=true", :title => "Opción para retirar  Empresa", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-circle-minus
						&nbsp;Retirar Empresa

				%a.opcion{:href => "/empresas?retiradas=true", :title => "Opción para Listar Empresas Retiradas", :class => "ui-state-default ui-corner-all botones_menu"}
					%span.ui-icon.ui-icon-folder-collapsed
					&nbsp;Empresas Retiradas

				-if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Reactivar Empresa')

					%a.opcion{:href => "/empresas?reactivar=true", :title => "Opción que permite Reactivar Empresas Retiradas", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-refresh
						&nbsp;Reactivar Empresa

				- if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia],'Eliminar Empresa')
					%a.opcion{:href => "/empresas?eliminar=true", :title => "Opción para Eliminar Empresa", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-circle-close
						&nbsp;Eliminar Empresa

				%a.opcion{:href => "/empresas?eliminadas=true", :title => "Opción para Listar Empresas ELiminadas", :class => "ui-state-default ui-corner-all botones_menu"}
					%span.ui-icon.ui-icon-trash
					&nbsp;Empresas Eliminadas

				- if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia],'Ver Usuarios')

					%a.opcion{:href => "/usuarios", :title => "Opción para Listar Usuarios", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-person
						&nbsp;Usuarios
				

			- if params[:controller] == 'productos'

				
				- if (UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Registrar Producto') and params[:empresa_retirada].nil? and params[:insolvente].nil?) or (UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Generar Código')) 
					
					%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/productos/new", :title => "Crear producto", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-circle-plus
						&nbsp;Registrar Producto

				- if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Eliminar Producto') and params[:empresa_retirada].nil?  and params[:insolvente].nil?
					
					%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/productos?eliminar=true", :title => "ELiminar Productos", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-circle-close
						&nbsp;Eliminar Productos

				%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/productos?transferencia=true", :title => "Transferir Productos a otro PREFIJO", :class => "ui-state-default ui-corner-all botones_menu"}
					%span.ui-icon.ui-icon-transfer-w
					&nbsp;Transferir Productos

			- if params[:controller] == 'glns' 

				- if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Registrar GLN') and params[:empresa_retirada].nil? and params[:insolvente].nil? or (UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Generar Código'))
					
					%a.opcion{:href => "#{new_empresa_gln_path}", :title => "Opción que permite crear GLN",:class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-circle-plus
						&nbsp;Registrar GLN

				- if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Eliminar GLN') and params[:empresa_retirada].nil? and  params[:insolvente].nil? 
					
					%a.opcion{:href => "/empresas/#{request.fullpath.split('/')[2]}/glns?eliminar=true", :title => "ELiminar GLN", :class => "ui-state-default ui-corner-all botones_menu"}
						%span.ui-icon.ui-icon-circle-close
						&nbsp;Eliminar GLN

			- if params[:controller] == 'empresa_servicios'

				- if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Registrar Servicio') and params[:empresa_retirada].nil? and  params[:insolvente].nil? 

					%a.opcion{:href => "#{new_empresa_empresa_servicio_path}", :title => "Opción que permite asociar Servicios a una Empresa",:class => "ui-state-default ui-corner-all botones_menu"}

						%span.ui-icon.ui-icon-circle-plus
						&nbsp;Registrar Servicio

				- if UsuariosAlcance.verificar_alcance(session[:perfil], session[:gerencia], 'Eliminar Servicio') and params[:empresa_retirada].nil? and  params[:insolvente].nil? 

					%a.opcion{:href => "#{new_empresa_empresa_servicio_path}?eliminar=true", :title => "Opción que permite asociar Servicios a una Empresa",:class => "ui-state-default ui-corner-all botones_menu"}

						%span.ui-icon.ui-icon-circle-close
						&nbsp;Eliminar Servicio

			-if params[:controller] == 'usuarios'


				%a.opcion{:href => "#{new_usuario_path}", :title => "Opción para registrar Usuarios",:class => "ui-state-default ui-corner-all botones_menu"}

					%span.ui-icon.ui-icon-circle-plus
					&nbsp;Registrar Usuario


				
		= yield
		